<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>

<link rel="stylesheet" th:href="@{/css/cart.css}">
<body>

<!--loader-->
<div th:replace="~{fragments :: loader}"></div>


<header th:replace="~{fragments :: header}"></header>


<div class="container py-5 my-5" style="">
    <div class="row my-3">
        <div class="d-flex align-items-center col-12">
            <h2>YOUR CART</h2>
            <span th:text="'(' + ${session.totalProduct != null ? session.totalProduct : '0'} + ' product)'"></span>
        </div>
    </div>

    <div th:if="${ session.totalProduct == 0 || session.logged == false}" class="row">
        <div class="not-have-products d-flex justify-content-center col-12">
            <div th:if="${notCart}" class=" text-center">
                <div th:text="${notCart}" class="alert alert-warning"></div>
                <div>
                    <i class="fa-solid fa-arrow-rotate-left"></i>
                    <a th:href="@{/products}" class="link-to-products">Continue shopping</a>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${cart != null && cart.getTotalItem() > 0}" class="row">
        <input type="hidden" th:value="${cart.id}" id="cartId">
        <div class="have-product">
            <div class="row">
                <div class="left-shopping-cart col-12 col-sm-12 col-lg-9">
                    <div th:each="product : ${products}" class="products">
                        <form th:action="@{/delete-cart-item}" method="post">
                            <div class="row">
                                <input type="hidden" th:value="${product.id}" class="idCartItem">
                                <div class="container-image col-3 col-sm-3">
                                    <p class="image">
                                        <a th:href="@{/product-detail/{id} (id = ${product.product.id})}">
                                            <img th:src="@{'data:image/jpeg;base64,' + ${product.product.images.get(0).image}}"
                                                 alt="">
                                        </a>
                                    </p>
                                </div>
                                <div class="inf-product-cart col-9 col-sm-9 ">
                                    <div class="box-inf-product">
                                        <div class="name-product">
                                            <p>
                                                <a th:href="@{/product-detail/{id} (id = ${product.product.id})}"
                                                   th:text="${product.product.name}">
                                                </a>
                                            </p>
                                        </div>

                                        <div class="size-product">
                                            <input type="hidden" name="sizeId" th:value="${product.size.id}">
                                            <p th:text="${product.size.size}"></p>
                                        </div>

                                        <div class="delete-product">
                                            <input type="hidden" name="idProduct" th:value="${product.product.id}">
                                            <button style="background-color: transparent; border: none; color: #858E96"
                                                    type="submit">
                                                DELETE
                                            </button>
                                        </div>
                                    </div>

                                    <div class="box-price-product">
                                        <p class="price-product mx-1" th:text="${product.unitPrice}"></p>
                                        <p class="price-product mx-1" th:if="${product.product.salePrice > 0}" th:text="${product.product.costPrice}" style="text-decoration: line-through; color: #858E96"></p>
                                    </div>

                                    <div class="box-quantity-product">
                                        <div class="choose-quantity my-4">
                                            <!--                                            <label for="quantity">QUANTITY</label>-->
                                            <div class="group-change-quantity">
                                                <span class="font-weight-bold text-center d-inline-block decrease" >-</span>
                                                <input class="text-center inputQuantity" name="quantity"
                                                       th:value="${product.quantity}">
                                                <span class="font-weight-bold text-center d-inline-block increase">+</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="right-shopping-cart col-sm-12 col-lg-3">
                    <div class="group-checkout">
                        <div class="row">
                            <div class="total-price">
                                <div class="left-total-price">
                                    <p>INTO MONEY</p>
                                </div>
                                <div class="right-total-price">
                                    <p th:text="${cart.totalPrice} " class="price-product" id="totalPrice"></p>
                                </div>
                            </div>

                            <div class="btn" >
                                <a th:href="@{/checkout}" >
                                    <button class="btn-group-checkout">
                                        PAY NOW
                                    </button>
                                </a>
                                <a th:href="@{/products}">
                                    <button class="btn-group-checkout">
                                        CONTINUE SHOPPING
                                    </button>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<footer th:replace="~{fragments :: footer}"></footer>


<div th:replace="~{fragments :: scroll}"></div>

<script th:src="@{/js/cart.js}">

</script>


<div th:replace="~{fragments :: script}"></div>


</body>
</html>