<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<link rel="stylesheet" th:href="@{/css/page-product.css}">
<body>


<!--loader-->
<div th:replace="~{fragments :: loader}"></div>

<!--header-->
<header th:replace="~{fragments :: header}"></header>

<div class="container c my-5 py-5">
    <div class="head-page-product w-100 ">
        <div>
            <h1 style="font-weight: 900" th:text="${nameCategory}"></h1>
            <hr>
        </div>
        <div class="detail-category">

            <div class="head-detail-category  ">
                <ul class="list-category d-flex align-items-center">
                    <li th:each="category : ${categories}">
                        <a th:href="@{'products?' +
                           'page=' + ${currentPage} +
                           '&idCategory=' + ${category.id} +
                           ${keyword != null && keyword != '' ? ' &keyword=' + keyword : ''} +
                           ${sort != null && sort != '' ? '&sortPrice=' + sort : ''} +
                           ${minPrice != null && maxPrice != null ? '&priceCdt=' + minPrice + ':' + maxPrice : '' } +
                           ${sizeChoose != null && sizeChooseString != null ? '&bySize=' + sizeChooseString : ''} +
                           ${brandChoose != null && brandChooseString != null ? '&byBrand=' + brandChooseString : ''}
                           }"
                           th:text="${category.name}"
                            th:style="${category.id == idCategory ? 'color: #e91e63' : ''}"
                        >
                        </a>
                    </li>
                </ul>

                <form class="form-search-product " th:action="'products?' +
                    'page=' + ${currentPage} +
                    '&idCategory=' + ${idCategory} +
                    ${sort != null && sort != '' ? '&sortPrice=' + sort : ''} +
                    ${minPrice != null && maxPrice != null ? '&priceCdt=' + minPrice + ':' + maxPrice : '' }+
                    ${sizeChoose != null && sizeChooseString != null ? '&bySize=' + sizeChooseString : ''} +
                    ${keyword != null && keyword != '' ? ' &keyword=' + keyword : ''} ">
                    <div style="display: inline-block"
                         class="parent-input-search-product md-form active-purple active-purple-2 mb-3">
                        <input class="form-control" aria-label="Search Product" name="keyword"
                               placeholder="Search Product" type="text">
                    </div>
                    <button type="submit" class="btn-search-product"><i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>

            <div class="custom-select">
                <select id="sort-by" onchange="window.location=this.options[this.selectedIndex].value">
                    <option class="option-sort option-sort-most " th:value="''">Sort Product</option>
                    <option th:replace="~{fragments :: sort('news', 'Latest')}"></option>

                    <option class="option-sort option-sort-most " th:value="''">Buy the most</option>

                    <option th:replace="~{fragments :: sort('true', 'Prices gradually increase')}"></option>
                    <option th:replace="~{fragments :: sort('false', 'Prices gradually decrease')}"></option>
                </select>
                <div class="select-arrow"></div>
            </div>
            <label for="filter" id="fil"><i class="fa-solid fa-filter"></i>FILTER</label>
            <input id="filter" type="checkbox">

        </div>
    </div>

    <div class="row-products row ">
        <div class="left-page-product my-5 col-sm-3">
            <h5 class="d-none d-sm-none d-lg-block">FILTER</h5>
            <div class="filter-by filter-by-price">

                <ul>
                    <li>By Price</li>
                    <li>
                        <a th:replace="~{fragments :: filterPrice(0, 300000, 'Under 300.000đ')}"></a>

                    </li>
                    <li>
                        <a th:replace="~{fragments :: filterPrice(300000, 500000, '300.000đ - 500.000đ')}"></a>
                    </li>
                    <li>
                        <a th:replace="~{fragments :: filterPrice(500000, 1000000, '500.000đ - 1.000.000đ')}"></a>
                    </li>
                    <li>
                        <a th:replace="~{fragments :: filterPrice(1000000, 3000000, '1.000.000đ - 3.000.000đ')}"></a>
                    </li>
                    <li>
                        <a th:replace="~{fragments :: filterPrice(3000000, 999999999, 'On 3.000.000đ')}"></a>
                    </li>


                </ul>
            </div>
            <hr>
            <div class="filter-by filter-by-size">
                <ul>
                    <li>By Size</li>
                    <li>
                        <a th:replace="~{fragments :: filterSizes(1, 0, 'S')}"></a>
                    </li>
                    <li>
                        <a th:replace="~{fragments :: filterSizes(2, 0, 'M')}"></a>
                    </li>
                    <li>
                        <a th:replace="~{fragments :: filterSizes(3, 0, 'L')}"></a>
                    </li>
                    <li>
                        <a th:replace="~{fragments :: filterSizes(4, 0, 'XL')}"></a>
                    </li>

                </ul>
            </div>
            <hr>
            <div class="filter-by filter-by-brand">
                <ul>
                    <li>By Brand</li>
                    <li>
                        <a th:replace="~{fragments :: filterBrands(1, 0, 'Nike')}"></a>
                    </li>
                    <li>
                        <a th:replace="~{fragments :: filterBrands(2, 0, 'Adidas')}"></a>
                    </li>
                    <li>
                        <a th:replace="~{fragments :: filterBrands(3, 0, 'Reebok')}"></a>
                    </li>
                    <li>
                        <a th:replace="~{fragments :: filterBrands(6, 0, 'Uniqlo')}"></a>
                    </li>
                    <li>
                        <a th:replace="~{fragments :: filterBrands(7, 0, 'Puma')}"></a>
                    </li>
                    <li>
                        <a th:replace="~{fragments :: filterBrands(8, 0, 'Champion')}"></a>
                    </li>
                    <li>
                        <a th:replace="~{fragments :: filterBrands(9, 0, 'Ralph Lauren')}"></a>
                    </li>
                    <li>
                        <a th:replace="~{fragments :: filterBrands(10, 0, 'G-Star')}"></a>
                    </li>
                    <li>
                        <a th:replace="~{fragments :: filterBrands(11, 0, 'Fred Perry')}"></a>
                    </li>
                    <li>
                        <a th:replace="~{fragments :: filterBrands(12, 0, 'Lacoste')}"></a>
                    </li>
                    <li>
                        <a th:replace="~{fragments :: filterBrands(13, 0, 'Under Armour')}"></a>
                    </li>
                    <li>
                        <a th:replace="~{fragments :: filterBrands(14, 0, 'New Blance')}"></a>
                    </li>
                    <li>
                        <a th:replace="~{fragments :: filterBrands(15, 0, 'The North Face')}"></a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="right-page-product my-5 col-sm-9">
            <div class="current-row-products row d-flex ">
                <div th:if="${products.isEmpty()}">
                    <div class="alert alert-warning">No suitable products were found</div>
                </div>

                <div class="card border-0  col-6 col-sm-6 col-lg-4 " style="cursor: pointer; padding-bottom: 40px"
                     th:each="product, obj : ${products}">
                    <a th:href="@{/product-detail/{id}(id = ${product.id})}">
                        <form th:action="@{/add-to-cart}" method="post">
                            <div class="card__main" style="">
                                <div class="img__product">
                                    <img class="front-img "
                                         th:src="'data:image/jpeg;base64,' + ${product.images.get(0)}"
                                         alt="">
                                    <img class="back-img"
                                         th:src="'data:image/jpeg;base64,' + ${product.images.get(1)}"
                                         alt="">

                                    <div class="card__main--choose-options">
                                        <div class="buy-now"><a href="#" style="text-decoration: none; color: white;">PAY
                                            NOW</a>
                                        </div>
                                        <input type="hidden" name="id" th:value="${product.id}">
                                        <input type="hidden" name="sizeId" th:value="${product.sizes.get(0).size.id}">
                                        <input type="submit" class="add-to-cart" value="ADD TO CART"/>
                                    </div>
                                </div>
                            </div>
                            <div class="card__name-price">
                                <div class="name-product" th:text="${product.name}"></div>
                                <div class="container-price-product" >
                                    <div class="have-sale-product d-flex align-items-center" th:if="${product.getSalePrice() > 0}" >
                                        <div class="sale-price price-product"
                                             th:text="${product.costPrice - product.salePrice}"></div>
                                        <div class="root-price price-product" th:text="${product.costPrice}"
                                             style="text-decoration: line-through; color: #858E96"></div>
                                    </div>
                                    <div class="no-sale-product price-product" th:if="${product.getSalePrice() == 0.0}"
                                         th:text="${product.getCostPrice()}"></div>
                                </div>
                            </div>
                        </form>
                        <div class="tag-sale-product d-flex justify-content-center align-items-center" th:if="${product.salePrice > 0}" th:text="${ '-' + #numbers.formatDecimal (((product.salePrice / product.costPrice) * 100), 0, 0) + '%'}"></div>
                    </a>
                </div>
            </div>


            <nav class="pagination-parent" aria-label="Page navigation example">
                <ul class="pagination justify-content-center   ">
                    <li class="page-item"><a th:replace="~{fragments :: paging(0, 'First page')}"></a></li>
                    <li class="page-item" th:if="${currentPage != 0}">
                        <a
                                th:replace="~{fragments :: paging(${currentPage - 1}, '&laquo;')}"
                                class="page-link" aria-label="Previous">
                            <span aria-hidden="true" style="color: #f7f7f7">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <!--                    <li th:if="${currentPage - 2 > 1}" class="page-item"><a class="page-link" style="color: #858E96"-->
                    <!--                                                                            href="#">...</a></li>-->
                    <li th:each="i : ${#numbers.sequence(1, totalPage)}"
                        th:classappend="${currentPage == i - 1 ? 'active' : ''}"
                        class="page-item">
                        <a th:replace="~{fragments :: paging(${i - 1}, ${i})}"></a>
                    </li>
                    <!--                    <li th:if="${currentPage + 2 > totalPage}" class="page-item"><a class="page-link"-->
                    <!--                                                                                    style="color: #858E96" href="#">...</a>-->
                    <!--                    </li>-->

                    <li class="page-item" th:if="${currentPage + 1 != totalPage}">
                        <a th:replace="~{fragments :: paging(${currentPage + 1}, '&raquo;')}"
                           class="page-link" aria-label="Next">
                            <span aria-hidden="true" style="color: #f7f7f7">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <li class="page-item"><a th:replace="~{fragments :: paging(${totalPage - 1}, 'Last page')}"></a>
                    </li>
                </ul>
            </nav>

        </div>


    </div>
</div>


<!--footer-->
<footer th:replace="~{fragments :: footer}"></footer>

<div th:replace="~{fragments :: scroll}"></div>

<div th:replace="~{fragments :: script}"></div>

<script th:src="@{/js/page-product.js}"></script>

</body>
</html>