<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<link rel="stylesheet" th:href="@{/css/login-register.css}">
<style>
    .nav {
        background-color: #f7f7f7;
        box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
    }

    footer {
        box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
    }

    .btn-reset-password {
        height: 40px;
        background-color: black;
        color: #f7f7f7;
        border: none;
        border-radius: 5px;
    }
</style>
<body>
<header th:replace="~{fragments :: header}"></header>

<div th:replace="~{fragments :: loader}"></div>

<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 9999">
    <div th:if="${param.error}" class="toast show toast-login" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <div style="color: #ffcc00; padding-right:8px; font-size: 20px "><i
                    class="fas fa-exclamation-triangle"></i></div>
            <strong class="me-auto">Warning</strong>
            <small>Now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Username or password not correct
        </div>
    </div>

    <div th:if="${param.logout}" class="toast show toast-login" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <div style="color: #339900; padding-right:8px; font-size: 20px ">
                <i class="fa-solid fa-circle-check"></i>
            </div>
            <strong class="me-auto">Success</strong>
            <small>Now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Logout success
        </div>
    </div>

    <div th:if="${param.success}" class="toast show toast-login" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <div style="color: #339900; padding-right:8px; font-size: 20px ">
                <i class="fa-solid fa-circle-check"></i>
            </div>
            <strong class="me-auto">Success</strong>
            <small>Now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Login success
        </div>
    </div>
</div>

<!-- Password Reset 2 - Bootstrap Brain Component -->
<div class="bg-light py-3 py-md-5 mt-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
                <div class="bg-white p-4 p-md-5 rounded shadow-sm">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-5">
                                <h2 class="h3">Password Reset</h2>
                                <h3 class="fs-6 fw-normal text-secondary m-0">Provide the email address associated with
                                    your account to recover your password.</h3>
                            </div>
                        </div>
                    </div>
                    <form th:action="@{/reset-password}" method="post">
                        <div class="row gy-3 gy-md-4 overflow-hidden">
                            <input type="hidden" name="token", th:value="${token}">
                            <div class="col-12 position-relative">
                                <label for="password" class="form-label">New password<span
                                        class="text-danger">*</span></label>
                                <input type="password" class="form-control pass-register" name="password"
                                       id="password"
                                       placeholder="Password have 5 - 15 character" required>
                                <i class="fa-regular fa-eye show-pass-1" onclick="showPasswordRegister()"
                                   style="top: 60%; right: 20px">
                                </i>
                                <i class="fa-regular fa-eye-slash hide-pass-1" onclick="showPasswordRegister()"
                                   style="top: 60%; right: 20px"></i>
                            </div>
                            <div class="col-12 position-relative">
                                <label for="repeatPassword" class="form-label ">Repeat new password <span
                                        class="text-danger">*</span></label>
                                <input type="password" class="form-control pass-register" name="repeatPassword"
                                       id="repeatPassword"
                                       placeholder="Password have 5 - 15 character" required oninput="checkPasswordMatch(this);">
                                <i class="fa-regular fa-eye show-pass-1" onclick="showPasswordRegister()"
                                   style="top: 60%; right: 20px">
                                </i>
                                <i class="fa-regular fa-eye-slash hide-pass-1" onclick="showPasswordRegister()"
                                   style="top: 60%; right: 20px"></i>
                            </div>

                            <div class="col-12">
                                <div class="d-grid">
                                    <button class="btn-reset-password" type="submit">Reset Password</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

<div th:replace="~{fragments :: script}"></div>

<script th:src="@{/js/login-register.js}"></script>

</body>
</html>