@import url('https://fonts.cdnfonts.com/css/montserrat');


*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-1: #e91e63;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Monterrat", sans-serif;
}

img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}


/*scroll custom start*/
*::-webkit-scrollbar {
    height: 8px;
    width: 12px;
}
*::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #EBEBEB;
}

*::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #777676;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #777676;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #777676;
}
/*scroll custom end*/

/*slick start*/

.slick-dots li button:before {
    font-size: 24px;
}

.slick-prev:before, .slick-next:before {
    height: 18px;
    width: 18px;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

/*slick end*/

.op-load-wrapper-start {
    opacity: 0;
}

.loader-wrapper.op-load-wrapper-end {
    opacity: 1;
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    /*opacity: 1;*/
}

.loader {
    display: block;
    width: 130px;
    height: 4px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
}

.loader::before {
    content: "";
    position: absolute;
    background: var(--primary-1);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}

/*.container {*/
/*    max-width: 1200px;*/
/*    width: 100%;*/
/*    margin: 0 auto;*/
/*    padding: 0 10px;*/
/*}*/

/*:root {*/
/*    --white: rgb(255, 255, 255);*/
/*    --white--op: rgb(255, 255, 255, 0.7);*/
/*}*/


/*.header {*/
/*    position: relative;*/
/*}*/

/*.nav {*/
/*    position: sticky !important;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 50px;*/
/*}*/

/*.menu>ul {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*}*/

.form-control:focus {
    box-shadow: 0 0 0 2px rgba(233, 30, 99, 0.25);
    border: solid 1px var(--primary-1);
}

.header {
    position: relative;
}

/*navbar*/

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    background-color: transparent;
    z-index: 999;
    width: 100%;
}

.nav-line {
    height: 100%;
}

.scrolled {
    background-color: #f7f7f7;
    transition: all 0.3s;
}

.logo > img {
    width: 40px;
}

.logo > img:hover {
    cursor: pointer;
}

.logo .name-brand {
    margin-right: 4px;
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 18px;
}

.menu {
    width: 70%;
}

.menu ul {
    margin: 5px 0;
    width: 100%;
    padding-left: -32px;
}


.menu ul li a {
    text-decoration: none;
    margin: 0px 12px;
    transition: all 0.3s ease;
}

.menu ul li a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--primary-1);
    transition: ease-in-out 0.2s;
    left: 10%;
    bottom: -10px;
}

.menu ul li a:hover {
    color: var(--primary-1);
}

.menu ul li a:hover:after {
    width: 80%;
}

.menu ul li {
    list-style: none;
    position: relative;
}

.menu ul li > a {
    color: black;
    font-weight: 600;
    font-size: 16px;
}

.group-feature a {
    text-decoration: none;
    color: #333333;
}

.group-feature a i {
    margin: 0 20px;
    font-size: 19px;
    font-weight: bold;
}

.group-feature a > i:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.85rem #f7f7f7);
    color: var(--primary-1);
}

.user-detail-need {
    position: relative;
}

.user-detail-header {
    position: absolute;
    width: 160px;
    /*height: 100px;*/
    top: 100%;
    right: calc(9% - 18px);
    background-color: #f7f7f7;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.15);
    display: none;
}

.user-detail-header:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: -12px;
    left: calc(50% - 4px);
    background-color: transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #ffffff;
    /*box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);*/
}

.user-detail-need:after {
    content: "";
    position: absolute;
    bottom: -86%;
    left: -80%;
    width: 160px;
    height: 24px;
    /*background-color: transparent;*/
    z-index: 99;
}

.user-detail-header ul {
    list-style-type: none;
    /*padding: 0;*/
    margin-top: 0;
}

.user-detail-header ul li {
}

.user-detail-header ul li a {
    padding: 2px 0;
    text-decoration: none;
    width: 100%;
    display: block;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}


.user-detail-header ul li a:hover {
    color: var(--primary-1);
}

.user-detail-need:hover + .user-detail-header {
    display: block;
}

.user-detail-header:hover {
    display: block;
}

.cart-total-item {
    position: relative;
}

.cart-item {
    content: "";
    position: absolute;
    top: -6px;
    right: 6px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    background-color: #333333;
    color: white;
    font-size: 12px;
}


/*end header*/

.carousel-inner {
    height: 100vh;
}

.carousel-item img {
    height: 100%;
}

.carousel-control-prev {
    padding-right: 120px;
    font-weight: 900;
    color: white;
}

.carousel-control-next {
    padding-left: 120px;
    font-weight: 900;
    color: white;
}


/*start choose shop*/
.men-women {
    margin: 60px 0;
    height: 800px;
    position: relative;
}

.men-women .women {
    position: relative;
    /*margin-right:  30px;*/
    /*z-index: -1;*/
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter .2s ease-in-out;
    width: 48%;
}

.men-women .men {
    position: relative;
    /*margin-left:  30px;*/
    /*z-index: -1;*/
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter .2s ease-in-out;
    width: 48%;
}

.men-women a img {
    height: 100%;
}


.men-women a:hover {
    cursor: pointer;
    filter: none;
    -webkit-filter: grayscale(0);
}

.men-women::before {
    content: "WOMEN";
    position: absolute;
    width: 20%;
    height: 60px;
    top: 50%;
    left: 15%;
    color: white;
    font-size: 44px;
    font-weight: bolder;
    text-align: center;
    z-index: 9;
}


.men-women::after {
    content: "MEN";
    position: absolute;
    width: 20%;
    height: 60px;
    top: 50%;
    right: 15%;
    color: white;
    font-size: 44px;
    font-weight: bolder;
    text-align: center;
    z-index: 9;
}

/*end choose shop*/


/*card*/


.card {
    /*margin-top: 100px;*/
    width: 350px;
    /*height: 550px;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}


.img__product {
    overflow: hidden;
    position: relative;
    height: 430px;
    /*width: 270px;*/
}


.front-img {
    transition: 0.4s;
    height: 100%;
}

.back-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: 0.4s;
    opacity: 0;
    height: 100%;
}

.card__main {
    /*height: 70%;*/
}

.card__main--choose-options {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 3;
}

.buy-now,
.add-to-cart {
    position: absolute;
    background-color: black;
    width: 45%;
    font-size: 10px;
    text-align: center;
    padding: 15px 0px;
    top: 0;
    left: 0;
    transform: translateY(44px);
    opacity: 0;
    transition: 0.4s;
    color: white;
}

.add-to-cart {
    left: unset;
    right: 0;
    border: none;
}


.card__color {
    margin: 10px 0;
    height: 5px;
    width: 40px;
    background-color: blueviolet;
}


.card__color::before {
    content: "";
    width: 40px;
    height: 5px;
    background-color: chocolate;
    display: block;
    position: absolute;
    z-index: 9;
    transform: translateX(-60px);
}

.card__color::after {
    content: "";
    width: 40px;
    height: 5px;
    background-color: blue;
    display: block;
    position: absolute;
    z-index: 9;
    transform: translateX(60px);
}

.card__name-price {
    font-weight: bold;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img__product img:hover {
    cursor: pointer;
    opacity: 0;
}

.name-product {
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.price-product {
    font-weight: 600;
    font-size: 18px;
    color: var(--primary-1);
}


.have-sale-product .price-product{
    margin: 0 8px;
}

.tag-sale-product{
    position: absolute;
    content: "";
    top: 10px;
    left: 12px;
    width: 55px;
    height: 25px;
    background-color: rgba(1, 1, 1, 0.3);
    z-index: 99;
    color: #f7f7f7;
    font-size: 14px;
}

/*end-card*/



/*discover store start*/
.discover-store-element {
    padding: 0;
    height: 660px;
}

.discover-store-video video {
    width: 100%;
    height: 100%;
}

.discover-store-img img {
    height: 100%;
}


.discover-store-content-main {
    width: 60%;
}

.discover-store-content-main h2 {
    font-weight: 600;
    font-size: 36px;
}

.discover-store-content-main p {
    font-size: 18px;
    font-weight: 500;
}

.discover-store-content-main a {
    text-decoration: none;
}


.discover-store-content-main a .box-discover {
    height: 55px;
    background-color: transparent;
    border: 1px solid #333333;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discover-store-content-main a .box-discover p {
    padding: 0;
    margin: 0;
    color: black;
    font-size: 16px;
}

/*discover store end*/



.logo-brand img {
    width: 120px;
}


/*footer*/

footer > a {
    font-size: 14px;

}

footer {

    height: 100%;
    background-color: #F7F7F7;

}

.main-footer {
    padding-top: 40px;
}

.title-footer {
    height: 35px;
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.info-company {
    /*background-color: red;*/

}


.name-logo {
    margin-left: 32px;
    margin-bottom: 12px;
}

.info-company ul li {
    list-style-type: none;
    font-size: 14px;
    margin: 4px 0;
}


.logo-footer img {
    width: 60px;
}

.protected-logo {
    width: 40%;
}


.input-email {
    padding: 10px;

}

.input-email:focus {
    outline: none;
}

.btn-send-mail {
    top: calc(20% + 2px);
    right: 30%;
    background-color: transparent;
}

.footer-item a {
    font-size: 14px;
    margin: 4px 0;
    text-decoration: none;
    color: #333333;
    transition: all 0.3s ease;
}

.footer-item a:hover {
    color: var(--primary-1);
}

.connect-social-media {
    width: 100%;
}

.group-social-media i {
    margin: 0 5px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.group-social-media i:hover {
    color: var(--primary-1);
}

footer p {
    margin: 0;
    padding-bottom: 10px;
}

/*end footer*/

/*scroll to top*/
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 50%;
    color: #000000;
    opacity: 0;
    transition: all 0.6s ease;
    transform: translateY(20px);
}

.scroll-to-top.show {
    opacity: 1;
    transform: translateY(0);
}

.scroll-to-top > i {
    transition: 0.4s;
}

.scroll-to-top:hover {
    cursor: pointer;
    background-color: #000000;
}

.scroll-to-top:hover > i {
    color: white;
}

/*end scroll to top*/


/*bars*/

.bars {
    position: absolute;
    display: none;
}

#check {
    display: none;
}


@media only screen and (max-width: 1400px) {
    #carouselExampleAutoplaying {
        /*height: 600px;*/
    }

    .menu ul {
        margin-top: 30px;
    }

    .intro-shop img {
        width: 100%;
        /*height: 120px;*/
    }

    .card {
        width: 300px;
    }
}


@media only screen and (max-width: 1200px) {
    #carouselExampleAutoplaying {
        /*height: 600px;*/

    }

    .menu ul {
        padding: 0;
        margin-bottom: 30px;
    }


    .menu ul li a {
        white-space: nowrap;
    }

    /*.card{*/
    /*    width: 200px;*/
    /*}*/
}


/*mobile & tablet for header and footer*/

@media only screen and (max-width: 992px) {

    header .nav {
        height: 44px;
        /*width: 80%;*/
    }

    .menu {
        position: absolute;
        height: 0;
        width: 100%;
        top: 100%;
        left: 0;
        transition: 0.3s ease-out;
        overflow: hidden;
        background-color: #f7f7f7;
    }

    #check:checked ~ .menu {
        height: 500px;
    }


    .menu ul {
        flex-direction: column;
        padding: 0;
    }

    .menu ul li {
        margin: 20px 0;
        text-align: center;
    }

    .logo {
        position: absolute;
        top: 0;
        left: 40%;
    }

    .group-feature {
        position: absolute;
        top: 10px;
        right: -10px;
    }

    .group-feature i {
        margin: 0 20px 0 0;
    }


    .bars {
        display: inline-block;
        top: 10px;
        left: 10px;
        width: 50px;
        height: 50px;
    }

    .bars i {
        font-size: 24px;
        cursor: pointer;
    }

    #bar-btn {
        display: block;
    }

    #exit-btn {
        display: none;
    }

    #check:checked ~ .bars .icons-btn #bar-btn {
        display: none;
    }

    #check:checked ~ .bars .icons-btn #exit-btn {
        display: block;
    }


    /*#carouselExampleAutoplaying {*/
    /*    height: 60vh;*/
    /*}*/
    .carousel-inner {
        height: 40vh;
    }

    .men-women::before {
        left: 5%;
    }

    /*footer*/
    /*.main-footer{*/
    /*    flex-direction: column;*/
    /*}*/
    .btn-send-mail {
        right: unset;
        left: 42%;
    }

}


@media only screen and (max-width: 768px) {
    .container-product {
        flex-direction: column;
    }

    .group-feature a i {
        margin: 0 14px 0 0;
    }

    .protected-logo {
        width: 25%;
    }

    .card {
        width: 230px;
    }

    .img__product {
        height: 280px;
    }
}

@media only screen and (max-width: 653px) {
    .img__product {
        height: 320px;
    }

    .card {
        width: 220px;
    }

}


@media only screen and (max-width: 430px) {
    .card {
        width: 175px;
    }

    .img__product {
        height: 280px;
    }
}

@media only screen and (max-width: 380px) {
    .logo {
        margin-left: -40px;
    }

    .group-feature {
        margin: 0 -8px;
    }

    .group-feature i:nth-child(1), .group-feature i:nth-child(2) {
        margin-right: 24px;
    }

    /*.card{*/
    /*    margin-top: 20px;*/
    /*}*/

    .img__product {
        height: 250px;
    }
}