<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments :: head}">
</head>

<body>

    <!-- Spinner Start -->
    <div th:replace="~{fragments :: spinner}"></div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div th:replace="~{fragments :: sidebar}"></div>
    <!-- Sidebar End -->

    <div th:replace="~{fragments :: toast}"></div>


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <div th:replace="~{fragments :: navbar}"></div>
        <!-- Navbar End -->


        <!-- Sale & Revenue Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-user fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Total Customers</p>
                            <h6 class="mb-0" th:text="${totalCustomer}">$1234</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-receipt fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Total Orders Delivered</p>
                            <h6 class="mb-0" th:text="${totalOrder}">$1234</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-area fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Total Products</p>
                            <h6 class="mb-0" th:text="${totalProduct}">$1234</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-pie fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Total Revenue</p>
                            <h6 class="mb-0 price-product" th:text="${totalPrice}">$1234</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sale & Revenue End -->

        <!-- Sales Chart Start -->
<!--        <div class="container-fluid pt-4 px-4">-->
<!--            <div class="row g-4">-->
<!--                <div class="col-sm-12 col-xl-6">-->
<!--                    <div class="bg-light text-center rounded p-4">-->
<!--                        <div class="d-flex align-items-center justify-content-between mb-4">-->
<!--                            <h6 class="mb-0">Worldwide Sales</h6>-->
<!--                            <a href="">Show All</a>-->
<!--                        </div>-->
<!--                        <canvas id="worldwide-sales"></canvas>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-12 col-xl-6">-->
<!--                    <div class="bg-light text-center rounded p-4">-->
<!--                        <div class="d-flex align-items-center justify-content-between mb-4">-->
<!--                            <h6 class="mb-0">Salse & Revenue</h6>-->
<!--                            <a href="">Show All</a>-->
<!--                        </div>-->
<!--                        <canvas id="salse-revenue"></canvas>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- Sales Chart End -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-6 d-none">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Single Line Chart</h6>
                        <canvas id="line-chart"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6 d-none">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Multiple Line Chart</h6>
                        <canvas id="salse-revenue"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Product Catalog Statistics</h6>
                        <canvas id="pie-chart"></canvas>
                    </div>
                </div>

                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Single Bar Chart</h6>
                        <canvas id="bar-chart"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6 d-none">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Multiple Bar Chart</h6>
                        <canvas id="worldwide-sales"></canvas>
                    </div>
                </div>

                <div class="col-sm-12 col-xl-6 d-none">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Doughnut Chart</h6>
                        <canvas id="doughnut-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Recent Sales Start -->
<!--        <div class="container-fluid pt-4 px-4">-->
<!--            <div class="bg-light text-center rounded p-4">-->
<!--                <div class="d-flex align-items-center justify-content-between mb-4">-->
<!--                    <h6 class="mb-0">Recent Salse</h6>-->
<!--                    <a href="">Show All</a>-->
<!--                </div>-->
<!--                <div class="table-responsive">-->
<!--                    <table class="table text-start align-middle table-bordered table-hover mb-0">-->
<!--                        <thead>-->
<!--                        <tr class="text-dark">-->
<!--                            <th scope="col"><input class="form-check-input" type="checkbox"></th>-->
<!--                            <th scope="col">Date</th>-->
<!--                            <th scope="col">Invoice</th>-->
<!--                            <th scope="col">Customer</th>-->
<!--                            <th scope="col">Amount</th>-->
<!--                            <th scope="col">Status</th>-->
<!--                            <th scope="col">Action</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                        <tr>-->
<!--                            <td><input class="form-check-input" type="checkbox"></td>-->
<!--                            <td>01 Jan 2045</td>-->
<!--                            <td>INV-0123</td>-->
<!--                            <td>Jhon Doe</td>-->
<!--                            <td>$123</td>-->
<!--                            <td>Paid</td>-->
<!--                            <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td><input class="form-check-input" type="checkbox"></td>-->
<!--                            <td>01 Jan 2045</td>-->
<!--                            <td>INV-0123</td>-->
<!--                            <td>Jhon Doe</td>-->
<!--                            <td>$123</td>-->
<!--                            <td>Paid</td>-->
<!--                            <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td><input class="form-check-input" type="checkbox"></td>-->
<!--                            <td>01 Jan 2045</td>-->
<!--                            <td>INV-0123</td>-->
<!--                            <td>Jhon Doe</td>-->
<!--                            <td>$123</td>-->
<!--                            <td>Paid</td>-->
<!--                            <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td><input class="form-check-input" type="checkbox"></td>-->
<!--                            <td>01 Jan 2045</td>-->
<!--                            <td>INV-0123</td>-->
<!--                            <td>Jhon Doe</td>-->
<!--                            <td>$123</td>-->
<!--                            <td>Paid</td>-->
<!--                            <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td><input class="form-check-input" type="checkbox"></td>-->
<!--                            <td>01 Jan 2045</td>-->
<!--                            <td>INV-0123</td>-->
<!--                            <td>Jhon Doe</td>-->
<!--                            <td>$123</td>-->
<!--                            <td>Paid</td>-->
<!--                            <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- Recent Sales End -->


        <!-- Widgets Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-md-6 col-xl-6">
                    <div class="h-100 bg-light rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">Calender</h6>
                            <a href="">Show All</a>
                        </div>
                        <div id="calender"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <iframe class="w-100 h-100" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=%20Da%20Nang+()&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <a href='http://mapshomepage.net/'>google maps in html einbinden</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Widgets End -->



    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <input type="hidden" id="totalBottom" th:value="${totalBottom}">
    <input type="hidden" id="totalTop" th:value="${totalTop}">
    <input type="hidden" id="totalJacket" th:value="${totalJacket}">
    <input type="hidden" id="totalSweeter" th:value="${totalSweeter}">
    <input type="hidden" id="totalHoodie" th:value="${totalHoodie}">
    <input type="hidden" id="totalPolo" th:value="${totalPolo}">
    <input type="hidden" id="totalTShirt" th:value="${totalTShirt}">
    <input type="hidden" id="totalShort" th:value="${totalShort}">
    <input type="hidden" id="totalShirt" th:value="${totalShirt}">

<div th:replace="~{fragments :: script}"></div>
<script>
    const VND = new Intl.NumberFormat('vi-VN', {
        style: 'currency', currency: 'VND',
    });
    const nodePriceProduct = document.querySelectorAll(".price-product");
    nodePriceProduct.forEach((nodePrice, index) => {
        nodePrice.textContent = VND.format(nodePrice.textContent);
    })
</script>
</body>

</html>