<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>


<div th:replace="~{fragments ::  spinner}"></div>

<div th:replace="~{fragments :: toast}"></div>

<div th:replace="~{fragments ::  sidebar}"></div>


<div class="content position-relative">
    <!-- Navbar Start -->
    <div th:replace="~{fragments :: navbar}"></div>
    <!-- Navbar End-->


    <div class="container">
        <div class="d-flex">
            <button type="button" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#modalAdd"
                    data-bs-whatever="@mdo">Add voucher
            </button>

            <div class="my-2 mx-2">
                <a th:href="@{/export-vouchers}" style="color: white">
                    <div class="btn btn-primary">
                        Export data
                    </div>
                </a>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div th:if="${size == 0}" class="alert alert-danger text-center w-25 my-2" role="alert">
                Don't have voucher. Let create voucher!
            </div>
        </div>
        <div class="table-responsive">
            <table th:if="${size > 0}" class="table table-striped ">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Code</th>
                    <th scope="col">Price</th>
                    <th scope="col">Percent of total price</th>
                    <th scope="col">Minimum price</th>
                    <th scope="col">Minimum total product</th>
                    <th scope="col">Usage limits</th>
                    <th scope="col">Expiry date</th>
                    <th scope="col">Email for customer</th>
                    <th scope="col">Is used</th>
                    <th scope="col" class="text-center">Update</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="voucher : ${vouchers}">
                    <td th:text="${voucher.id}"></td>
                    <td th:text="${voucher.codeVoucher}"></td>
                    <td th:text="${voucher.price}"></td>
                    <td th:text="${voucher.percentOfTotalPrice}"></td>
                    <td th:text="${voucher.minimumPrice}"></td>
                    <td th:text="${voucher.minimumTotalProduct}"></td>
                    <td th:text="${voucher.usageLimits}"></td>
                    <td th:text="${voucher.expiryDate}"></td>
                    <td th:text="${voucher.forEmailCustomer}"></td>
                    <td th:text="${voucher.used == true ? 'Yes' : 'No'}"></td>

                    <td>
                        <a id="btnUpdate" th:href="@{/findByIdVoucher(id = ${voucher.id})}" class="btn btn-success"
                           style="width: 100px">
                            Update
                        </a>
                    </td>

                    <td>
                        <div class="d-flex justify-content-between">
                            <a th:if="${voucher.activated}" th:href="@{/delete-voucher(id = ${voucher.id})}"
                               class="btn btn-danger" style="width: 100px; margin-right: 10px">Delete</a>

                            <a th:if="${!voucher.activated}" th:href="@{/activate-voucher(id = ${voucher.id})}"
                               class="btn btn-primary" style="width: 100px; margin-right: 10px">Activate</a>

                            <a id="btnSendMailDetail" th:href="@{/findByIdVoucher(id = ${voucher.id})}"
                               class="btn btn-primary "> <i class="fa-regular fa-paper-plane "></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Add-->
<div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/add-voucher}" method="post" th:object="${newVoucher}">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Code voucher</label>
                        <input th:field="*{codeVoucher}" type="text" class="form-control" id="recipient-name">
                    </div>

                    <div class="mb-3">
                        <label for="price" class="col-form-label">Price sale</label>
                        <input th:field="*{price}" type="text" class="form-control" id="price" name="price">
                    </div>

                    <div class="mb-3">
                        <label for="percentOfTotalPrice" class="col-form-label">Percent of total price</label>
                        <input th:field="*{percentOfTotalPrice}" type="number" class="form-control"
                               id="percentOfTotalPrice"
                               name="percentOfTotalPrice" min="0" max="100">
                    </div>

                    <div class="mb-3">
                        <label for="minimumPrice" class="col-form-label">Minimum price for sale</label>
                        <input th:field="*{minimumPrice}" type="text" class="form-control" id="minimumPrice"
                               name="minimumPrice">
                    </div>

                    <div class="mb-3">
                        <label for="minimumTotalProduct" class="col-form-label">Minimum total product</label>
                        <input th:field="*{minimumTotalProduct}" type="number" class="form-control"
                               id="minimumTotalProduct"
                               name="minimumTotalProduct" min="1" max="50">
                    </div>

                    <div class="mb-3">
                        <label for="usageLimits" class="col-form-label">Usage limits</label>
                        <input th:field="*{usageLimits}" type="number" class="form-control" id="usageLimits"
                               name="usageLimits" min="1">
                    </div>


                    <div class="mb-3">
                        <label for="expiryDate" class="col-form-label">Expiry date</label>
                        <input type="date" class="form-control" id="expiryDate" name="expiryDate">
                    </div>

                    <div class="mb-3">
                        <label for="forEmailCustomer" class="col-form-label">For email customer </label>
                        <input th:field="*{forEmailCustomer}" type="text" class="form-control" id="forEmailCustomer"
                               name="forEmailCustomer">
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Update -->
<div class="modal fade" id="updateCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/update-voucher}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateCategoryLabel">Update category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="form-control" name="id" id="idVoucher">
                    <div class="mb-3">
                        <label for="updateCodeVoucher" class="col-form-label">Code voucher</label>
                        <input type="text" class="form-control" name="codeVoucher" id="updateCodeVoucher">
                    </div>

                    <div class="mb-3">
                        <label for="updatePrice" class="col-form-label">Price sale</label>
                        <input type="text" class="form-control" id="updatePrice" name="price">
                    </div>

                    <div class="mb-3">
                        <label for="updatePercentOfTotalPrice" class="col-form-label">Percent of total price</label>
                        <input type="number" class="form-control" id="updatePercentOfTotalPrice"
                               name="percentOfTotalPrice" min="0" max="100">
                    </div>

                    <div class="mb-3">
                        <label for="UpdateMinimumPrice" class="col-form-label">Minimum price for sale</label>
                        <input type="text" class="form-control" id="UpdateMinimumPrice" name="minimumPrice">
                    </div>

                    <div class="mb-3">
                        <label for="updateMinimumTotalProduct" class="col-form-label">Minimum total product</label>
                        <input type="number" class="form-control" id="updateMinimumTotalProduct"
                               name="minimumTotalProduct" min="1" max="50">
                    </div>

                    <div class="mb-3">
                        <label for="updateUsageLimits" class="col-form-label">Usage limits</label>
                        <input type="number" class="form-control" id="updateUsageLimits" name="usageLimits" min="1">
                    </div>


                    <div class="mb-3">
                        <label for="updateExpiryDate" class="col-form-label">Expiry date</label>
                        <input type="date" class="form-control" id="updateExpiryDate" name="expiryDate">
                    </div>

                    <div class="mb-3">
                        <label for="updateForEmailCustomer" class="col-form-label">For email customer </label>
                        <input type="text" class="form-control" id="updateForEmailCustomer" name="forEmailCustomer">
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--Send mail detail-->
<div class="modal fade" id="sendMailDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/send-mail-voucher}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="sendCategoryLabel">Send voucher to email customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input id="sendMailDetailId" type="hidden" name="id">
                    <div class="mb-3">
                        <label for="sendMailDetailCodeVoucher" class="col-form-label">Code voucher</label>
                        <input type="text" class="form-control" id="sendMailDetailCodeVoucher"
                               name="sendMailDetailCodeVoucher" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="sendDetailEmailCustomer" class="col-form-label">Email customer</label>
                        <input type="email" class="form-control" id="sendDetailEmailCustomer"
                               name="sendDetailEmailCustomer" autofocus>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa-regular fa-paper-plane"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--Toast Start-->
<div th:replace="~{fragments :: toast}"></div>
<!--Toast End-->

<!--<div th:replace="~{fragments ::  footer}"></div>-->


<div th:replace="~{fragments :: script}">
</div>


<script th:src="@{/js/vouchers.js}"></script>

<script th:replace="~{fragments :: toastScript}"></script>

</body>
</html>