<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>


<div th:replace="~{fragments ::  spinner}"></div>


<div th:replace="~{fragments ::  sidebar}"></div>

<div class="content">
    <!-- Navbar Start -->
    <div th:replace="~{fragments :: navbar}"></div>
    <!-- Navbar End-->
    <div class="container">
        <button type="button" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#modalAdd"
                data-bs-whatever="@mdo">Add category
        </button>

        <div class="d-flex justify-content-center">
            <div th:if="${size == 0}" class="alert alert-danger text-center w-25 my-2" role="alert">
                Don't have categories in repository
            </div>
        </div>
    </div>


    <table th:if="${size > 0}" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Update</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category, obj : ${categories}">
            <td th:text="${obj.index}"></td>
            <td th:text="${category.id}"></td>
            <td th:text="${category.name}"></td>
            <td>
                <a id="btnUpdate" th:href="@{/findById(id = ${category.id})}" class="btn btn-success"
                   style="width: 100px">Update</a>
            </td>
            <td>
                <a th:if="${category.isActivated()}" th:href="@{/delete-category(id = ${category.id})}"
                   class="btn btn-danger" style="width: 100px">Delete</a>
                <a th:if="${category.isDeleted()}" th:href="@{/activate-category(id = ${category.id})}"
                   class="btn btn-primary" style="width: 100px">Activate</a>
            </td>
        </tr>

        </tbody>
    </table>

    <!-- Modal Add-->
    <div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/add-category}" method="post" th:object="${newCategory}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add category</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Name category</label>
                            <input th:field="*{name}" type="text" class="form-control" id="recipient-name">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Update -->
    <div class="modal fade" id="updateCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/update-category}" method="put">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateCategoryLabel">Update category</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Name category</label>
                            <input name="id" type="text" class="form-control" id="updateId" readonly>
                        </div>

                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Name category</label>
                            <input name="name" type="text" class="form-control" id="updateName">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--Toast Start-->
<div th:replace="~{fragments :: toast}"></div>
<!--Toast End-->

<div th:replace="~{fragments ::  footer}"></div>


<div th:replace="~{fragments :: script}">
</div>


<script th:src="@{/js/categories.js}"></script>

<script th:replace="~{fragments :: toastScript}"></script>

</body>
</html>