<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments :: head}">

</head>
<link rel="stylesheet" th:href="@{/css/info.css}">

<body>

<!-- Spinner Start -->
<div th:replace="~{fragments :: spinner}"></div>
<!-- Spinner End -->


<!-- Sidebar Start -->
<div th:replace="~{fragments :: sidebar}"></div>
<!-- Sidebar End -->

<div th:replace="~{fragments :: toast}"></div>

<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav th:replace="~{fragments :: navbar}"></nav>
    <!-- Navbar End -->

    <div class="container">
        <div class="row mt-3 mx-3">

            <div class="left-page col-12 col-sm-12 col-lg-4">
                <div class="tool-bar">

                    <h4 class="title">ACCOUNT</h4>

                    <div class="main-tool-bar">
                        <a th:href="@{/my-info}">
                            <div class="active">My profile</div>
                        </a>
                        <a th:href="@{/change-password}">
                            <div>Change password</div>
                        </a>
                        <a th:href="@{/logout}">
                            <div>Logout</div>
                        </a>

                    </div>

                </div>
            </div>


            <div class="col-12 col-sm-12 col-lg-6">
                <form th:action="@{/save-my-info}" method="post" class="form-info">
                    <input type="hidden" th:value="${id}" name="id">

                    <label for="username">Username</label>
                    <input class="form-control" type="text" placeholder="username" name="username" id="username"
                           th:value="${username}" readonly>

                    <label for="firstName">First name</label>
                    <input class="form-control" type="text" placeholder="First name" name="firstName" id="firstName"
                           th:value="${firstName}">

                    <label for="lastName">Last name</label>
                    <input class="form-control" type="text" placeholder="Last name" name="lastName" id="lastName"
                           th:value="${lastName}">

                    <label for="email">Email</label>
                    <input class="form-control" type="email" placeholder="Email" name="email" id="email"
                           th:value="${email != null ? email : ''}">

                    <label for="phone">Phone</label>
                    <input class="form-control" type="text" placeholder="Phone" name="phone" id="phone"
                           th:value="${phone != null ? phone : ''}">

                    <button type="submit">Save change</button>

                </form>
            </div>
        </div>
    </div>

</div>
<!-- Content End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<div th:replace="~{fragments :: script}"></div>
</body>

</html>