<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>


<div th:replace="~{fragments ::  spinner}"></div>


<div th:replace="~{fragments ::  sidebar}"></div>

<div class="content">
    <!-- Navbar Start -->
    <div th:replace="~{fragments :: navbar}"></div>
    <!-- Navbar End-->

    <h1>OK~~ Product</h1>

</div>

<div th:replace="~{fragments ::  footer}"></div>


<div th:replace="~{fragments :: script}">
</div>

</body>
</html>