<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments :: head}">

</head>

<body>

<!-- Spinner Start -->
<div th:replace="~{fragments :: spinner}"></div>
<!-- Spinner End -->


<!-- Sidebar Start -->
<div th:replace="~{fragments :: sidebar}"></div>
<!-- Sidebar End -->


<div th:replace="~{fragments :: toast}"></div>

<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav th:replace="~{fragments :: navbar}"></nav>
    <!-- Navbar End -->

    <div class="container">

        <div class="d-flex">
            <div class=" my-2 mx-2">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        data-bs-whatever="@mdo">New employee
                </button>
            </div>

            <div class="my-2 ">
                <a th:href="@{/export-employees}" style="color: white">
                    <div class="btn btn-primary" style="width: 120px;">
                        Export data
                    </div>
                </a>
            </div>

        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">ROLE</th>
                    <th scope="col">Action</th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.id}"></td>
                    <td th:text="${employee.username}"></td>
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.phone}"></td>
                    <td>
                                <span th:each="role : ${employee.roles}">
                                    <p th:text="${role.name}"></p>
                                </span>
                    </td>
                    <td>
                        <a id="btnUpdate" th:href="@{/findByUsernameEmployee(username = ${employee.username})}"
                           class="btn btn-success"
                           style="width: 100px">
                            Update
                        </a>

                        <a th:if="${employee.enable && session.idAd != employee.id}"
                           th:href="@{/lock-employee(id = ${employee.id})}"
                           class="btn btn-warning" style="width: 100px">
                            <!--                                    <button th:disabled="${session.idAd == employee.id}">Lock</button>-->
                            Lock
                        </a>

                        <button th:if="${session.idAd == employee.id}" th:disabled="${session.idAd == employee.id}"
                                class="btn btn-warning" style="width: 100px">Lock
                        </button>

                        <a th:if="${!employee.enable}" th:href="@{/activate-employee(id = ${employee.id})}"
                           class="btn btn-primary" style="width: 100px">Activate</a>
                    </td>

                    <td>
                        <a th:if="${session.idAd != employee.id}"
                           th:href="@{/delete-employee(id = ${employee.id})}"
                           class="btn btn-danger" style="width: 100px">
                            <!--                                    <button th:disabled="${session.idAd == employee.id}">Delete</button>-->
                            Delete
                        </a>

                        <button th:if="${session.idAd == employee.id}" th:disabled="${session.idAd == employee.id}"
                                class="btn btn-danger" style="width: 100px">Delete
                        </button>
                    </td>
                </tr>

                </tbody>

            </table>
        </div>

    </div>


</div>
<!-- Content End -->

<!--modal add new-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New Employee</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:object="${newEmployee}" th:action="@{/new-employee}" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="firstName" class="col-form-label">First name:</label>
                        <input th:field="*{firstName}" type="text" class="form-control" id="firstName" name="firstName">
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="col-form-label">Last name:</label>
                        <input th:field="*{lastName}" type="text" class="form-control" id="lastName" name="lastName">
                    </div>
                    <div class="mb-3">
                        <label for="username" class="col-form-label">Username:</label>
                        <input th:field="*{username}" type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="col-form-label">Password:</label>
                        <input th:field="*{password}" type="password" class="form-control" id="password"
                               name="password">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="col-form-label">Email:</label>
                        <input th:field="*{email}" type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="col-form-label">Phone:</label>
                        <input th:field="*{phone}" type="text" class="form-control" id="phone" name="phone">
                    </div>

                    <div class="mb-3">
                        <label for="role" class="col-form-label">Message:</label>
                        <select id="role" name="role">
                            <option th:each="role : ${roles}" th:text="${role}"></option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">ADD</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--modal update-->
<div class="modal fade" id="updateEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="updateEmployeeLabel">New message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/update-employee}" method="post">
                <div class="modal-body">
                    <input type="hidden" id="idUpdate" name="idUpdate">

                    <div class="mb-3">
                        <label for="usernameUpdate" class="col-form-label">Username:</label>
                        <input type="text" class="form-control" id="usernameUpdate" name="usernameUpdate"
                               readonly="readonly">
                    </div>

                    <div class="mb-3">
                        <label for="firstNameUpdate" class="col-form-label">First name:</label>
                        <input type="text" class="form-control" id="firstNameUpdate" name="firstNameUpdate">
                    </div>
                    <div class="mb-3">
                        <label for="lastNameUpdate" class="col-form-label">Last name:</label>
                        <input type="text" class="form-control" id="lastNameUpdate" name="lastNameUpdate">
                    </div>


                    <div class="mb-3">
                        <label for="emailUpdate" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" id="emailUpdate" name="emailUpdate">
                    </div>
                    <div class="mb-3">
                        <label for="phoneUpdate" class="col-form-label">Phone:</label>
                        <input type="text" class="form-control" id="phoneUpdate" name="phoneUpdate">
                    </div>

                    <div class="mb-3">
                        <label for="roleUpdate" class="col-form-label">Role:</label>
                        <select id="roleUpdate" name="roleUpdate">
                            <option th:each="role : ${roles}" th:text="${role}"></option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">UPDATE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<div th:replace="~{fragments :: script}"></div>
<script>
    $('document').ready(function () {

            $('table #btnUpdate').on('click', function (e) {
                e.preventDefault();
                var href = $(this).attr('href');
                $.get(href, function (employee, status) {
                    $('#idUpdate').val(employee.id);
                    $('#usernameUpdate').val(employee.name);
                    $('#firstNameUpdate').val(employee.firstName);
                    $('#lastNameUpdate').val(employee.lastName);
                    $('#emailUpdate').val(employee.email);
                    $('#phoneUpdate').val(employee.phone);
                    $('#roleUpdate').val(employee.roles[0].name);
                });

                var updateCategoryModal = new bootstrap.Modal(document.getElementById('updateEmployee'));
                updateCategoryModal.show();
            });

        }
    )

</script>
</body>

</html>