<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: header">
</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>

                        <div th:if="${error}">
                            <p class="alert alert-warning" th:text="${error}"></p>
                        </div>

                        <div th:if="${errorPassword}">
                            <p class="alert alert-warning" th:text="${errorPassword}"></p>
                        </div>

                        <div th:if="${errorEmail}">
                            <p class="alert alert-warning" th:text="${errorEmail}"></p>
                        </div>

                        <div th:if="${success}">
                            <p class="alert alert-success" th:text="${success}"></p>
                        </div>

                        <form th:action="@{/register-new}" th:object="${adminDto}" method="post" class="user">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input th:field="*{firstName}"  type="text" class="form-control form-control-user"
                                           id="exampleFirstName"
                                           placeholder="First Name">
<!--                                    <div class="alert alert-danger" th:if="${#fields.hasErrors('firstname')}"-->
<!--                                         th:errors="*{firstName}"-->
<!--                                    ></div>-->
                                </div>
                                <div class="col-sm-6">
                                    <input th:field="*{lastName}" type="text" class="form-control form-control-user"
                                           id="exampleLastName"
                                           placeholder="Last Name">
<!--                                    <div th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastName}"-->
<!--                                         class="alert alert-danger"></div>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <input th:field="*{username}" type="email" class="form-control form-control-user"
                                       id="exampleInputEmail"
                                       placeholder="Email Username">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input th:field="*{password}" type="password" class="form-control form-control-user"
                                           id="exampleInputPassword" placeholder="Password">
<!--                                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"-->
<!--                                         class="alert alert-danger"></div>-->
                                </div>
                                <div class="col-sm-6">
                                    <input th:field="*{repeatPassword}" type="password"
                                           class="form-control form-control-user"
                                           id="exampleRepeatPassword" placeholder="Repeat Password">
                                </div>
                            </div>
                            <button type="submit" href="login.html" class="btn btn-primary btn-user btn-block">
                                Register Account
                            </button>

                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" th:href="@{/forgot-password}" href="forgot-password.html">Forgot
                                Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" th:href="@{/login}" href="login.html">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments :: script "></div>
</body>

</html>