<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments :: head}">

</head>

<body>

<!-- Spinner Start -->
<div th:replace="~{fragments :: spinner}"></div>
<!-- Spinner End -->


<!-- Sidebar Start -->
<div th:replace="~{fragments :: sidebar}"></div>
<!-- Sidebar End -->


<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav th:replace="~{fragments :: navbar}"></nav>
    <!-- Navbar End -->


    <div class="container">
        <div th:if="${size == 0}" class="w-100 py-2 bg-warning border-1 text-center">Don't have comments in this
            product!
        </div>

        <table th:if="${size > 0}" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Id</th>
                <th scope="col">Date Upload</th>
                <th scope="col">Customer</th>
                <th scope="col">Content</th>
                <th scope="col">Star</th>
                <th scope="col">Likes</th>
                <th scope="col">Images</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment, obj : ${comments}">
                <td th:text="${obj.index}"></td>
                <td th:text="${comment.id}"></td>
                <td th:text="${comment.dateUpload}"></td>
                <td th:text="${comment.customer.username + ' ' + '( ' + comment.customer.firstName + ' ' + comment.customer.lastName +' )'}"></td>
                <td th:text="${comment.content}"></td>
                <td th:text="${comment.star}"></td>
                <td th:text="${comment.customersLikedComment.size()}"></td>
                <td>
                    <div class="d-flex">
                        <div th:each="image : ${comment.images}"
                             style="width: 45px; height: 45px; border-radius: 5px; border: solid 1px #333333; margin-right: 3px; overflow: hidden">
                            <img th:src="'data:image/jpeg;base64,' + ${image.image}" alt="" style="width: 100%">
                        </div>
                    </div>
                </td>

                <td>
                    <!-- Hide Comment Form -->
                    <form th:if="${!comment.delete}" th:action="@{/hide-comment/{idComment}(idComment=${comment.id})}" method="post">
                        <input type="hidden" th:value="${idProduct}" name="idProduct"/>
                        <button type="submit" class="btn btn-danger" style="width: 100px">Hide</button>
                    </form>

                    <!-- Allow Comment Form -->
                    <form th:if="${comment.delete}" th:action="@{/allow-comment/{idComment}(idComment=${comment.id})}" method="post">
                        <input type="hidden" th:value="${idProduct}" name="idProduct"/>
                        <button type="submit" class="btn btn-primary" style="width: 100px">Allow</button>
                    </form>
                </td>
            </tr>

            </tbody>
        </table>
    </div>


</div>
<!-- Content End -->

<!--Toast Start-->
<div th:replace="~{fragments :: toast}"></div>
<!--Toast End-->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<div th:replace="~{fragments :: script}"></div>
</body>

</html>