.action {
    display: flex;
    justify-content: center;
}

.action button {
    margin: 0 2px;
}

.nothing-orders {
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
}

.stars {
    display: flex;
    align-items: center;
    gap: 25px;
}

.stars i {
    color: #e6e6e6;
    font-size: 25px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.stars i.active-rate {
    color: var(--primary-1);
}