.main-detail-page {
    margin-top: 80px;
    margin-bottom: -40px;
}

.detail-product-left .detail-product-left-main {
    height: 100%;
}

.container-img-product img {
    width: 90px;
    margin: 17px 0;
    height: 15%;
}


.img-main-detail img {
    height: 100%;
    opacity: 1;
    transition: all 0.3s ease;
    /*--x: 50%;*/
    /*--y: 50%;*/
    /*transform: scale(var(--zoom));*/
    /*transform-origin: var(--x) var(--y);*/
    /*clip-path: inset(*/
    /*        calc((1 - 1/var(--zoom)) * (var(--y)))*/
    /*        calc((1 - 1/var(--zoom)) * (100% - var(--x)))*/
    /*        calc((1 - 1/var(--zoom)) * (100% - var(--y)))*/
    /*        calc((1 - 1/var(--zoom)) * (var(--x)))*/
    /*);*/
    /*cursor: crosshair;*/

}

/*.img-main-detail img:hover {*/
/*    --zoom: 2;*/
/*}*/


.list-size a {
    border: 1px solid #333;
    margin-right: 10px;
    width: 30px;
    padding: 5px 0;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}


.list-size {
    display: flex;
}

.size-option {
    display: none; /* Ẩn các input radio */
}

.size-option + label {
    /*width: 40px; */
    /*height: 40px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*margin-right: 10px;*/
    /*border: 1px solid #ccc;*/
    cursor: pointer;

    border: 1px solid #333;
    margin-right: 10px;
    width: 30px;
    padding: 5px 0;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

.size-option:checked + label {
    background-color: black;
    color: white;
}

.choose-quantity {
    display: flex;
    justify-content: flex-start;
}

.choose-quantity label {
    margin-right: 10px;
}


.choose-main-quantity {
    display: flex;
    justify-content: center;
}

.choose-quantity input {
    width: 45px;
    border: 1px solid #333;
    margin: 0;
}

.choose-quantity span {
    width: 40px;
    border: 1px solid #333;
    margin: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.choose-quantity span:hover {
    background-color: var(--primary-1);
    color: white;
}

.push-cart {
    width: 70%;
    height: 45px;
    display: flex;
    justify-content: center;
}

.push-cart button {
    width: 100%;
    background-color: transparent;
    font-size: 16px;
    border: none;
    transition: all 0.3s ease;
}

.push-cart button:hover {
    background: linear-gradient(to right, #ef6393 50%, #e91e63 50%) right bottom;
    background-size: 200% 100%;
}

.header {
    margin-bottom: 40px;
}

.nav {
    /*position: unset;*/
    background-color: #f7f7f7;
}

.container-product-same {
    /*padding-bottom: 60px;*/
}


@media only screen and (max-width: 1400px) {
    .card {
        width: 250px;
    }
}


@media only screen and (max-width: 1200px) {
    .card {
        width: 220px;
    }
}

@media only screen and (max-width: 992px) {
    .container-img-product img {
        width: 100px;
        height: 100px;
        margin: 0 10px;
    }

    .card {
        width: 290px;
        margin: 10px 0;
    }

    .container-product-same {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 768px) {
    .card {
        width: 200px;
    }

    .push-cart {
        width: 100%;
    }
}


/*mobile for detail-product*/
@media only screen and (max-width: 576px) {
    .main-detail-page {
        margin-top: 40px;
    }

    .container-img-product {
        padding-top: 40px;
        height: 80px;
    }

    .container-img-product img {
        width: 100px;
        margin: 0 4px;
        height: 100%;

        /*height: 15%;*/
    }

    .img-main-detail img {
        height: 100%;
    }

    .container-product-same {
        /*flex-direction: column;*/
        align-items: center;
        margin-bottom: 20px;
    }

    .card {
        width: 205px;
    }
}

@media only screen and (max-width: 576px) {

    /*.container-img-product img {*/
    /*    width: 75px;*/
    /*}*/

}

@media only screen and (max-width: 425px) {

    .card {
        width: 182px;
    }

}


@media only screen and (max-width: 375px) {

    .card {
        width: 160px;
        height: 390px;
    }

    .img__product {
        height: 300px;
    }

}


@media only screen and (max-width: 320px) {

    .container-img-product img {
        width: 62.5px;
    }

    .card {
        width: 126px;
        height: 295px;
    }

    .img__product {
        height: 225px;
    }

}