<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>

<link rel="stylesheet" th:href="@{/css/account.css}">

<linK rel="stylesheet" th:href="@{/css/account-orders.css}">
<body>
<div th:replace="~{fragments :: loader}"></div>

<header th:replace="~{fragments :: header}"></header>


<div class="container my-5 py-5">

    <div class="row">

        <div class="left-page col-12 col-sm-12 col-lg-3">
            <div class="tool-bar">

                <h4 class="title">ACCOUNT</h4>

                <div class="main-tool-bar">
                    <a th:href="@{/account}">
                        <div>My profile</div>
                    </a>
                    <a th:href="@{/address}">
                        <div>My address</div>
                    </a>
                    <a th:href="@{/orders}">
                        <div class="active">My orders</div>
                    </a>
                    <a th:href="@{/change-password}">
                        <div>Change password</div>
                    </a>
                    <a th:href="@{/logout}">
                        <div>Logout</div>
                    </a>

                </div>

            </div>
        </div>


        <div class="right-page col-12 col-sm-12 col-lg-9">
            <!--            <form class="w-100">-->
            <h4 class="title">MY ORDERS</h4>

            <div class="alert alert-success" th:if="${success}" th:text="${success}"></div>
            <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
            <div class="table-responsive">

                <div th:if="${orders.size() == 0}" class="nothing-orders bg-warning">You haven't placed any orders yet
                </div>
                <table class="table" th:if="${orders.size() > 0}">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Order date</th>
                        <th scope="col">Delivery date</th>
                        <th scope="col">Total price</th>
                        <th scope="col">Shipping fee</th>
                        <th scope="col">Delivery address</th>
                        <th scope="col">Status</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <th scope="row" th:text="${order.id}"></th>
                        <td th:text="${order.orderDate}"></td>
                        <td th:text="${order.deliveryDate}"></td>
                        <td th:text="${order.totalPrice} " class="price-product"></td>
                        <td th:text="${order.shippingFee}" class="price-product"></td>
                        <td th:text="${order.deliveryAddress}"></td>
                        <td th:text="${order.status}"></td>
                        <td>
                            <div class="action">
                                <a th:if="${order.accept == false}" th:href="@{/cancel-order(id = ${order.id})}">
                                    <button class="btn btn-warning ">Cancel
                                    </button>
                                </a>
                                <button class="btn btn-secondary " th:if="${order.accept == true}" disabled>
                                    Cancel
                                </button>
                                <a id="btnDetailOrder" th:href="@{/detail-order(id = ${order.id})}">
                                    <button class="btn btn-info">View</button>
                                </a>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>


            <!--            </form>-->
        </div>

    </div>


    <div class="modal fade" id="detailOrder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Order Detail</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Quantity & Size</th>
                            <th scope="col">Total Price</th>
                        </tr>
                        </thead>
                        <tbody id="listOrderDetail">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>


<footer th:replace="~{fragments :: footer}"></footer>

<div th:replace="~{fragments :: scroll}"></div>

<div th:replace="~{fragments :: script}"></div>


<script>

    $('document').ready(function () {

            $('#btnDetailOrder').on('click', function (e) {
                e.preventDefault();
                var href = $(this).attr('href');
                $.get(href, function (orderDetails, status) {
                    // $('#updateId').val(category.id);
                    // $('#updateName').val(category.name);

                    $("#listOrderDetail").empty();
                    $.each(orderDetails, function (index, orderDetail) {
                        $("#listOrderDetail").append(
                            '<tr>' +
                            '<th scope="row">' + '<img src="data:image/jpeg;base64,' + orderDetail.image + '" style="width: 60px; height: 60px;">' + '</th>' +
                            '<td>' + orderDetail.nameProduct + '</td>' +
                            '<td >' + orderDetail.unitPrice + '₫' + '</td>' +
                            '<td>' + orderDetail.quantityAndSize + '</td>' +
                            '<td>' + orderDetail.totalPrice + '₫' + '</td>' +
                            '</tr>'
                        );
                        console.log(orderDetail);
                    });
                    console.log(orderDetails);

                });


                var updateCategoryModal = new bootstrap.Modal(document.getElementById('detailOrder'));
                updateCategoryModal.show();
            });

        }
    )
</script>

</body>
</html>