<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<link rel="stylesheet" th:href="@{/css/checkout.css}">

<body>

<header th:replace="~{fragments :: header}"></header>


<div class="container py-5 my-5">

    <div class="row">

        <div class="left-page col-12 col-sm-12 col-lg-6">

            <form>
                <h4 class="text-center">INFORMATION PAYMENT</h4>
                <div class="information-customer ">
                    <input class="form-control" name="full-name" type="text" placeholder="Full name">

                    <div class="group-email-phone">
                        <div class="email">
                            <input class="form-control" name="email" type="email" placeholder="Email">
                        </div>
                        <div class="phone">
                            <input class="form-control" name="phone" type="text" placeholder="Phone">
                        </div>
                    </div>


                    <input class="form-control" name="address" type="text" placeholder="Address">


                    <h4 style="margin-top: 40px">PAYMENT METHODS</h4>

                    <div class="pay-methods">
                        <div>
                            <input class="pay-method" id="pay-home" name="type-pay" type="radio">
                            <label for="pay-home">Pay at home</label>
                        </div>
                        <div>
                            <input class="pay-method" id="pay-bank" name="type-pay" type="radio">
                            <label for="pay-bank">Bank transfer</label>
                        </div>
                    </div>
                </div>

                <div class="btn-choose">

                    <div class="back-to-cart">

                        <a th:href="@{/cart}">
                            <i class="fa-solid fa-chevron-left"></i>
                            Back to cart
                        </a>
                    </div>

                    <a href="#">
                        <div class="complete-payment">
                            COMPLETE PAYMENT
                        </div>
                    </a>

                </div>

            </form>

        </div>

        <div class="right-page col-12 order-1 col-sm-12 col-lg-6">

            <div class="container">
                <div class="row main-right">
                    <div class="products">

                        <div class="img">
                            <a>
                                <img th:src="@{/images/pexels-yaritza-16215951.jpg}">
                            </a>
                        </div>
                        <div class="inf-product">
                            <p>
                                <a href="#">Name product Name product Name product Name product</a>
                            </p>

                            <p style="color: #858E96">
                                XL x1
                            </p>

                        </div>
                    </div>


                    <div class="voucher">
                        <input class="form-control" name="voucher" id="voucher" placeholder="Voucher">
                        <label for="voucher"></label>

                        <a href="#">
                            <div class="enter-voucher">
                                Use
                            </div>
                        </a>
                    </div>

                    <hr>

                    <div class="prices">
                        <div class="row-price">
                            <p>Provisional</p>
                            <p class="price">999.999VND</p>
                        </div>
                        <div class="row-price">
                            <p>Fee ship</p>
                            <p class="fee-ship">999.999VND</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row-price">
                        <p class="title-total-price">Total price</p>
                        <p class="total-price">999.999VND</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


<footer th:replace="~{fragments :: footer}"></footer>

<div th:replace="~{fragments :: scroll}"></div>


</body>
</html>