<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<link rel="stylesheet" th:href="@{/css/detail-product.css}">
<!--<link rel="stylesheet" th:href="@{/css/easyzoom.css}">-->
<body>

<!--loader-->
<div th:replace="~{fragments :: loader}"></div>


<header th:replace="~{fragments :: header}"></header>

<div class="container main-detail-page">
    <div class="row">
        <div class="detail-product-left col-12 col-lg-7 ">
            <div class="detail-product-left-main row">

                <div class="container-img-product order-2 order-sm-2 order-lg-1 order slick-slider-nav-img col-12 col-lg-2 d-inline-block text-center py-2 slick-initialized slick-slider slick-vertical">
                    <img style="cursor: pointer" th:each="image : ${product.images}"
                         th:src="@{'data:image/jpeg;base64,' + ${image.image}}"
                         alt="">
                </div>

                <!--                <div class="img-main-detail slick-slider-for-img col-12 col-lg-10 order-first order-sm-1 d-inline-block  py-4 ">-->
                <!--                    <img id="productImage" class="cloudzoom"-->
                <!--                         th:src="@{'data:image/jpeg;base64,' + ${product.images.get(0).image}}" alt="" data-cloudzoom="-->
                <!--                         zoomImage: '',-->
                <!--                         easeTime: 0,-->
                <!--                         zoomPosition: 'inside',-->
                <!--                         autoInside: true,-->
                <!--                         easing: 0,-->
                <!--                         disableOnScreenWidth:1024">-->
                <!--                </div>-->
                <div id="img-product-detail"
                     class="img-main-detail slick-slider-for-img col-12 col-lg-10  order-1 order-sm-1 order-lg-2 d-inline-block  py-4 ">
                    <img class="img-product"
                         th:src="@{'data:image/jpeg;base64,' + ${product.images.get(0).image}}" alt="">
                </div>
            </div>

        </div>
        <div class="col-12 col-lg-5 py-4">
            <div class="product-information">
                <h2 style="font-weight: 600" th:text="${product.name}"></h2>
                <p style="font-size: 14px" th:text="'CP: '+  ${product.id}"></p>
                <div>
                    <div th:if="${product.salePrice > 0}" class="d-flex align-items-center">

                        <div class="child-have-sale box-percent-product" th:text="${ '-' + #numbers.formatDecimal (((product.salePrice / product.costPrice) * 100), 0, 0) + '%'}"></div>

                <span class="price-product child-have-sale" style="font-weight: bold; font-size: 24px"
                      th:text="${product.costPrice - product.salePrice}"></span>
                        <span class="price-product child-have-sale"
                              style="font-weight: bold; font-size: 20px; color: #858E96; text-decoration: line-through"
                              th:text="${product.costPrice}"></span>
                    </div>
                    <div th:if="${product.salePrice == 0.0}">
                        <span class="price-product" style="font-weight: bold; font-size: 24px"
                              th:text="${product.costPrice}"></span>
                    </div>


                </div>
            </div>
            <hr/>
            <form th:action="@{/add-to-cart}" method="post">
                <div class="product-selection">
                    <div class="choose-size my-4">
                        <label>Size</label>
                        <div class="list-size">
                            <div class="choose-choose" style="display: inline"
                                 th:each="size, element : ${product.sizes}">
                                <input type="radio" th:id="'size-' + ${size.size.id}" name="sizeId" class="size-option"
                                       th:value="${size.size.id}" th:checked="${element.index == 0}">
                                <label th:for="'size-' + ${size.size.id}"
                                       class="text-center d-inline-block font-weight-bold"
                                       th:text="${size.size.size}"></label>
                            </div>

                            <!--                            <input type="radio" id="size-m" name="size" class="size-option" value="M">-->
                            <!--                            <label for="size-m" class="text-center d-inline-block font-weight-bold">M</label>-->

                            <!--                            <input type="radio" id="size-l" name="size" class="size-option" value="L">-->
                            <!--                            <label for="size-l" class="text-center d-inline-block font-weight-bold">L</label>-->

                            <!--                            <input type="radio" id="size-xl" name="size" class="size-option" value="XL">-->
                            <!--                            <label for="size-xl" class="text-center d-inline-block font-weight-bold">XL</label>-->
                        </div>
                    </div>

                    <div class="choose-quantity my-4">
                        <label for="quantity">Quantity</label>
                        <div class="choose-main-quantity">
                            <span class="decrease font-weight-bold text-center d-inline-block">-</span>
                            <input class="text-center" name="quantity" id="quantity" value="1">
                            <span class="increase font-weight-bold text-center d-inline-block">+</span>
                        </div>
                    </div>

                </div>

                <div class="push-cart  my-4" style="background-color: black">
                    <input type="hidden" name="id" th:value="${idProduct}">
                    <button type="submit" style="color: white; font-size: 16px">Add to cart</button>
                </div>
            </form>
            <p class="w-75" th:text="${product.description != null ? product.description : ''}">
                <span
                        style="font-family:'Times New Roman';font-size:10pt;font-style:normal;font-weight:normal;"><strong>CANDLES SPARK T-SHIRT</strong></span><br><span
                    style="font-family:'Times New Roman';font-size:10pt;font-style:normal;font-weight:normal;">✦ <strong>Chất liệu</strong>: Cotton 260 GSM</span><br><span
                    style="font-family:'Times New Roman';font-size:10pt;font-style:normal;font-weight:normal;">✦ <strong>Fitting</strong>: Oversized Fit</span><br><span
                    style="font-family:'Times New Roman';font-size:10pt;font-style:normal;font-weight:normal;">✦ <strong>Chi tiết</strong>:&nbsp;</span><br><span
                    style="font-family:'Times New Roman';font-size:10pt;font-style:normal;font-weight:normal;">+ Sử dụng chất liệu vải cotton 260 gsm dày dặn thoáng mát.</span><br><span
                    style="font-family:'Times New Roman';font-size:10pt;font-style:normal;font-weight:normal;">+ Hình in Sparkler nhỏ trước ngực được in cao thành.</span><br><span
                    style="font-family:'Times New Roman';font-size:10pt;font-style:normal;font-weight:normal;">+ Bo cổ phối cùng màu với hình in tạo nên sự đồng bộ.</span><br><span
                    style="font-family:'Times New Roman';font-size:10pt;font-style:normal;font-weight:normal;">+ Câu quotes in quanh viền cổ sau mang ý nghĩa "đây sẽ là chiếc áo bạn sẽ sử dụng hàng ngày".</span><br><span
                    style="font-family:'Times New Roman';font-size:10pt;font-style:normal;font-weight:normal;">✦ <strong>Hướng dẫn bảo quản</strong>:&nbsp;</span><br><span
                    style="font-family:'Times New Roman';font-size:10pt;font-style:normal;font-weight:normal;">+ Sản phẩm bền nhất khi giặt tay.</span><br><span
                    style="font-family:'Times New Roman';font-size:10pt;font-style:normal;font-weight:normal;">+ Nếu giặt máy, hãy giặt ở nhiệt độ thường.&nbsp;</span><br><span
                    style="font-family:'Times New Roman';font-size:10pt;font-style:normal;font-weight:normal;">+ Khi phơi tránh ánh nắng trực tiếp.&nbsp;</span><br><span
                    style="font-family:'Times New Roman';font-size:10pt;font-style:normal;font-weight:normal;">+ Nên treo sản phẩm để sản phẩm có độ bền phom dáng.</span>
            </p>

        </div>

    </div>

    <div class="text-center" style="padding: 40px 0">

        <h3 class="font-weight-bold">PRODUCT SAME</h3>
    </div>
</div>

<div class="container-product-same container d-flex justify-content-center " th:value="${productsSameCategory.size()}">
    <div th:each="product : ${productsSameCategory}" class="card border-0" style="cursor: pointer; margin: 0 10px">
        <form th:action="@{/add-to-cart}" method="post">
            <a th:href="@{/product-detail/{id} (id = ${product.id})}">
                <div class="card__main" style="">
                    <div class="img__product">
                        <img class="front-img "
                             th:src="@{'data:image/jpeg;base64,' + ${product.images.get(0).image}}"
                             alt="">
                        <img class="back-img"
                             th:src="@{'data:image/jpeg;base64,' + ${product.images.get(1).image}}"
                             alt="">

                        <div class="card__main--choose-options">
                            <div class="buy-now"><a href="#" style="text-decoration: none; color: white;">PAY
                                NOW</a>
                            </div>
                            <input type="hidden" name="id" th:value="${product.id}">
                            <input type="hidden" name="sizeId" th:value="${product.sizes.get(0).size.id}">
                            <input type="submit" class="add-to-cart" value="ADD TO CART"/>

                        </div>
                    </div>
                </div>
                <div class="card__name-price">
                    <div th:text="${product.name}" class="name-product"></div>
                    <div th:text="${product.costPrice}" class="price-product"></div>
                </div>
            </a>
        </form>
    </div>
</div>

<!--footer start-->
<footer th:replace="~{fragments :: footer}"></footer>
<!--footer end-->


<div th:replace="~{fragments :: scroll}"></div>

<div th:replace="~{fragments :: script}"></div>

<script th:src="@{/js/detail-product.js}"></script>

<!--<script th:src="@{/js/easyzoom.js}"></script>-->


<script>
    var input = document.getElementById("quantity");
    var decreaseButton = document.querySelector(".decrease");
    var increaseButton = document.querySelector(".increase");

    decreaseButton.addEventListener("click", function () {
        var value = parseInt(input.value);
        if (value > 1) {
            input.value = value - 1;
        }
    });

    increaseButton.addEventListener("click", function () {
        var value = parseInt(input.value);
        input.value = value + 1;
    });

    $(document).ready(function () {
            let numProduct = $('.card').length;
            if (numProduct >= 4) {

                $('.container-product-same').slick({
                    slidesToShow: 4,
                    slidesToScroll: 2,
                    autoplay: true,
                    autoplaySpeed: 1500,
                    dots: true,
                    arrows: true,
                    infinite: true,
                    responsive: [
                        {
                            breakpoint: 992,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 3,
                                infinite: true,
                                dots: true
                            }
                        },
                        {
                            breakpoint: 768,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2,
                                infinite: true,
                                dots: true,
                                arrows: false,
                            }
                        }
                    ]
                });
            }
        }
    )

</script>

</body>
</html>