<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<link rel="stylesheet" th:href="@{/css/login-register.css}">
<style>
    .nav {
        background-color: #f7f7f7;
        box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
    }

    footer {
        box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
    }

    .btn-reset-password {
        height: 40px;
        background-color: black;
        color: #f7f7f7;
        border: none;
        border-radius: 5px;
    }
</style>
<body>
<header th:replace="~{fragments :: header}"></header>

<div th:replace="~{fragments :: loader}"></div>

<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 9999">
    <div th:if="${param.error}" class="toast show toast-login" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <div style="color: #ffcc00; padding-right:8px; font-size: 20px "><i
                    class="fas fa-exclamation-triangle"></i></div>
            <strong class="me-auto">Warning</strong>
            <small>Now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Username or password not correct
        </div>
    </div>

    <div th:if="${param.logout}" class="toast show toast-login" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <div style="color: #339900; padding-right:8px; font-size: 20px ">
                <i class="fa-solid fa-circle-check"></i>
            </div>
            <strong class="me-auto">Success</strong>
            <small>Now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Logout success
        </div>
    </div>

    <div th:if="${param.success}" class="toast show toast-login" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <div style="color: #339900; padding-right:8px; font-size: 20px ">
                <i class="fa-solid fa-circle-check"></i>
            </div>
            <strong class="me-auto">Success</strong>
            <small>Now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Login success
        </div>
    </div>
</div>

<!-- Password Reset 2 - Bootstrap Brain Component -->
<div class="bg-light py-3 py-md-5 mt-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
                <div class="bg-white p-4 p-md-5 rounded shadow-sm">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-5">
                                <h2 class="h3">Password Reset</h2>
                                <h3 class="fs-6 fw-normal text-secondary m-0">Provide the email address associated with
                                    your account to recover your password.</h3>
                            </div>
                        </div>
                    </div>
                    <form th:action="@{/forgot-password-post}" method="post">
                        <div class="row gy-3 gy-md-4 overflow-hidden">
                            <div class="col-12">
                                <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="name@example.com" required>
                            </div>
                            <div class="col-12">
                                <div class="d-grid">
                                    <button class="btn-reset-password" type="submit">Reset Password</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-12">
                            <hr class="mt-5 mb-4 border-secondary-subtle">
                            <div class="d-flex gap-4 justify-content-end">
                                <a th:href="@{/login}" class="link-secondary text-decoration-none">Login</a>
                                <a th:href="@{/login}" class="link-secondary text-decoration-none">Register</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="mt-5 mb-4">Or sign in with</p>
                            <div class="login-other">
                                <a th:href="@{/oauth2/authorization/google}" class="oauth2 google">
                                    <div>
                                        <i class="icon-google">
                                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19.245 9.16357H11.0865C10.7268 9.16357 10.4355 9.4548 10.4355 9.81454V12.4227C10.4355 12.7824 10.7268 13.0736 11.0865 13.0736H15.6818C15.1807 14.3798 14.2385 15.4719 13.0437 16.1657L15.0009 19.5576C18.14 17.7417 19.9987 14.5512 19.9987 10.9837C19.9987 10.4741 19.9602 10.11 19.8874 9.70319C19.8274 9.39056 19.5576 9.16357 19.245 9.16357V9.16357Z"
                                                      fill="#167EE6"/>
                                                <path d="M10.0009 16.9881C7.75255 16.9881 5.7911 15.759 4.73756 13.9431L1.3457 15.896C3.07161 18.8896 6.30501 20.9024 10.0009 20.9024C11.8168 20.9024 13.5256 20.4142 15.0031 19.562V19.5577L13.0459 16.1658C12.1466 16.6883 11.1102 16.9881 10.0009 16.9881V16.9881Z"
                                                      fill="#12B347"/>
                                                <path d="M14.9979 19.5617V19.5574L13.0407 16.1655C12.1456 16.6837 11.1092 16.9878 10 16.9878V20.9021C11.8158 20.9021 13.5246 20.4139 14.9979 19.5617Z"
                                                      fill="#0F993E"/>
                                                <path d="M3.91434 10.9023C3.91434 9.79306 4.21841 8.75666 4.73661 7.86158L1.34475 5.90869C0.488222 7.37764 0 9.08214 0 10.9023C0 12.7224 0.488222 14.4269 1.34475 15.8958L4.73661 13.943C4.21413 13.0479 3.91434 12.0115 3.91434 10.9023V10.9023Z"
                                                      fill="#FFD500"/>
                                                <path d="M10.0009 4.81669C11.4656 4.81669 12.8146 5.33917 13.8639 6.20427C14.1251 6.4184 14.502 6.40127 14.7376 6.16573L16.5834 4.3199C16.8532 4.0501 16.8318 3.60898 16.5448 3.36059C14.7847 1.8274 12.4934 0.902344 10.0009 0.902344C6.30502 0.902344 3.07161 2.91519 1.3457 5.90877L4.73756 7.86166C5.7911 6.04581 7.75255 4.81669 10.0009 4.81669Z"
                                                      fill="#FF4B26"/>
                                                <path d="M13.863 6.20427C14.1242 6.4184 14.5011 6.40127 14.7366 6.16573L16.5824 4.3199C16.8522 4.0501 16.8308 3.60898 16.5439 3.36059C14.7837 1.8274 12.4925 0.902344 10 0.902344V4.81669C11.4647 4.81669 12.8137 5.33489 13.863 6.20427Z"
                                                      fill="#D93F21"/>
                                            </svg>
                                        </i>
                                        Continue with Google
                                    </div>
                                </a>

                                <div class="or-login">
                                    <p>OR</p>
                                </div>

                                <a th:href="@{/oauth2/authorization/facebook}" class="oauth2 facebook">
                                    <div>
                                        <i class="fa-brands fa-facebook">
                                        </i>
                                        Continue with Facebook
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

<div th:replace="~{fragments :: script}"></div>
</body>
</html>