<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments :: head}">

</head>

<style>
    .card {
        position: relative;
    }

    .ribbon {
        position: absolute;
        right: -5px; top: -5px;
        z-index: 99;
        overflow: hidden;
        width: 75px; height: 75px;
        text-align: right;
    }
    .ribbon span {
        font-size: 10px;
        font-weight: bold;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        width: 100px;
        display: block;
        background: #79A70A;
        background: linear-gradient(#F70505 0%, #8F0808 100%);
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
        position: absolute;
        top: 19px; right: -21px;
    }
    .ribbon span::before {
        content: "";
        position: absolute; left: 0px; top: 100%;
        z-index: -1;
        border-left: 3px solid #8F0808;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #8F0808;
    }
    .ribbon span::after {
        content: "";
        position: absolute; right: 0px; top: 100%;
        z-index: -1;
        border-left: 3px solid transparent;
        border-right: 3px solid #8F0808;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #8F0808;
    }
</style>

<body>

<!--loader-->
<div th:replace="~{fragments :: loader}"></div>


<header th:replace="~{fragments :: header}"></header>

<div id="carouselExampleAutoplaying" class="carousel slide d-inline-block" data-bs-ride="carousel" data-interval="1000">
    <div class="carousel-inner" data-interval="1000">
        <div class="carousel-item active">
            <img th:src="@{/images/force-majeure-SmIlY2uAHo8-unsplash.jpg}" class="d-block w-100" alt="bg1">
        </div>
        <div class="carousel-item">
            <img th:src="@{/images/force-majeure-00tlC0Clfrs-unsplash.jpg}" class="d-block w-100" alt="bg2">
        </div>
        <div class="carousel-item">
            <img th:src="@{/images/pexels-tembela-bohle-1884584.jpg}" class="d-block w-100" alt="bg3">
        </div>
    </div>
    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="container">
    <div class="text-center" data-aos="fade-up" data-aos-duration="1000"><h2 style="font-weight: 600; margin-top: 40px">
        PICK & WEAR COLLECTION</h2></div>

    <div class="men-women d-flex justify-content-between">

        <a class="women" href="#">

            <img th:src="@{/images/pexels-ahmed-ツ-20447512.jpg}" alt="shop women" data-aos="fade-right"
                 data-aos-duration="1000">
        </a>
        <a class="men" href="#">

            <img th:src="@{/images/pexels-yaritza-16215951.jpg}" alt="shop men" data-aos="fade-left"
                 data-aos-duration="1000">
        </a>


    </div>

</div>

<div class="container my-5">
    <hr data-aos="fade-right" data-aos-duration="1000">
    <h4 style="font-weight: 600; margin: 20px 0" data-aos="fade-down" data-aos-duration="1000">The Premier Destination
        for Fashion Enthusiasts</h4>
    <div class="intro-shop row">

        <div class="  h-50 ">

            <img th:src="@{/images/logoINF.png}" style="width: 280px; float: left" data-aos="fade-left"
                 data-aos-duration="1000">
            <p style="font-size: 18px; line-height: 1.8 ; color: #858E96" class="" data-aos="fade-right"
               data-aos-duration="1000">
                At CATCOSY, we bring together the perfect blend of the latest trends and diversity in styles. From
                everyday
                outfits to special occasion ensembles, we have everything to cater to your fashion needs.
                <br>
                With top brands and constantly updated collections, we are committed to providing an enjoyable and
                exciting
                shopping experience. Our professional and enthusiastic staff are always ready to assist you in selecting
                the
                most suitable products for your personal style.
                <br>
                Our boutique offers a carefully selected range of clothing and accessories, meticulously chosen to
                reflect
                the latest trends and timeless elegance. Whether you're searching for a casual chic ensemble or a
                show-stopping statement piece, our collection has something to suit every taste and occasion.
            </p>
        </div>
    </div>
    <hr data-aos="fade-left" data-aos-duration="1000">
</div>

<div class="text-center" data-aos="fade-up" data-aos-duration="1000"><h2 style="font-weight: 600; margin: 0">NEW
    ARRIVALS</h2></div>

<div class="container d-flex justify-content-center align-items-center "
     style="padding: 30px 0; overflow: hidden" data-aos="fade-up" data-aos-duration="1000">

    <div class="container-product row w-100 d-flex justify-content-between align-items-center">
        <div th:each="product : ${productsNewArrival}" class="card border-0  col-12 col-md-4 col-xl-3"
             style="cursor: pointer;  margin: 0 10px">
            <div class="ribbon"><span>NEW ARRIVALS</span></div>
            <form th:action="@{/add-to-cart}" method="post">
                <a th:href="@{/product-detail/{id} (id = ${product.id})}">
                    <div class="card__main" style="">
                        <div class="img__product">
                            <img class="front-img "
                                 th:src="@{'data:image/jpeg;base64,' + ${product.images.get(0).image}}"
                                 alt="">
                            <img class="back-img"
                                 th:src="@{'data:image/jpeg;base64,' + ${product.images.get(1).image}}"
                                 alt="">

                            <div class="card__main--choose-options">
                                <div class="buy-now"><a href="#" style="text-decoration: none; color: white;">PAY
                                    NOW</a>
                                </div>
                                <input type="hidden" name="id" th:value="${product.id}">
                                <input type="submit" class="add-to-cart" value="ADD TO CART"/>

                            </div>
                        </div>
                    </div>
                    <div class="card__name-price">
                        <div th:text="${product.name}" class="name-product"></div>
                        <div th:text="${product.costPrice}" class="price-product"></div>
                    </div>
                </a>
            </form>
        </div>
    </div>

</div>


<div class="text-center"><h2 style="font-weight: 600; margin: 0">FLASH
    SALE</h2></div>

<div class="container d-flex justify-content-center align-items-center "
     style="padding: 30px 0; overflow: hidden">
    <div class="container-product row w-100 d-flex justify-content-between align-content-center">
        <div th:each="product : ${productsSale}" class="card border-0  col-12 col-md-4 col-xl-3"
             style="cursor: pointer;  margin: 0 10px">
            <div class="ribbon"><span>FLASH SALE</span></div>
            <a th:href="@{/product-detail/{id} (id = ${product.id})}">
                <form th:action="@{/add-to-cart}" method="post">
                    <div class="card__main" style="">
                        <div class="img__product">
                            <img class="front-img "
                                 th:src="@{'data:image/jpeg;base64,' + ${product.images.get(0).image}}"
                                 alt="">
                            <img class="back-img"
                                 th:src="@{'data:image/jpeg;base64,' + ${product.images.get(1).image}}"
                                 alt="">

                            <div class="card__main--choose-options">
                                <div class="buy-now"><a href="#" style="text-decoration: none; color: white;">PAY
                                    NOW</a>
                                </div>
                                <input type="hidden" name="id" th:value="${product.id}">
                                <input type="submit" class="add-to-cart" value="ADD TO CART"/>

                            </div>
                        </div>
                    </div>
                    <div class="card__name-price">
                        <div th:text="${product.name}" class="name-product"></div>
                        <div class="container-price-product">
                            <div class="have-sale-product d-flex align-items-center"
                                 th:if="${product.getSalePrice() > 0}">
                                <div class="sale-price price-product"
                                     th:text="${product.costPrice - product.salePrice}"></div>
                                <div class="root-price price-product" th:text="${product.costPrice}"
                                     style="text-decoration: line-through; color: #858E96"></div>
                            </div>
                            <div class="no-sale-product price-product" th:if="${product.getSalePrice() == 0.0}"
                                 th:text="${product.getCostPrice()}"></div>
                        </div>
                    </div>
                </form>
                <div class="tag-sale-product d-flex justify-content-center align-items-center"
                     th:if="${product.salePrice > 0}"
                     th:text="${ '-' + #numbers.formatDecimal (((product.salePrice / product.costPrice) * 100), 0, 0) + '%'}"
                     style="left: 0"></div>
            </a>
        </div>
    </div>
</div>


<div class="container my-5">
    <hr>
    <h4 style="font-weight: 600; margin: 20px 0">Embark on a Fashion
        Adventure </h4>
    <div class="intro-shop row">

        <div class="  h-50 ">

            <!--            <img src="../../images/logoINF1.png"  style="width: 280px; float: right">-->
            <p style="font-size: 18px; line-height: 1.8; color: #858E96" class="">
                Picture yourself strolling through racks adorned with the latest styles, each garment whispering tales
                of elegance and sophistication. From the vibrant hues of summer dresses to the timeless allure of
                tailored suits, our collection promises to ignite your passion for fashion.
                <br>
                But wait, there's more! Dive deeper into our fashion wonderland and discover hidden gems that speak to
                your unique sense of style. Let our expert stylists be your guiding light as they unveil the perfect
                ensemble that captures your essence and leaves a lasting impression.
                <br>
                Our boutique offers a carefully selected range of clothing and accessories, meticulously chosen to
                reflect
                the latest trends and timeless elegance. Whether you're searching for a casual chic ensemble or a
                show-stopping statement piece, our collection has something to suit every taste and occasion.
            </p>
        </div>
    </div>
    <hr>
</div>

<video width="100%" autoplay muted loop>
    <source src=”http://techslides.com/demos/sample-videos/small.ogv” type=video/ogg>
    <source th:src="@{/images/production.mp4}" type="video/mp4">
</video>


<div class="container d-flex justify-content-center align-items-center" style="padding: 50px 0">
    <div class="row w-100 d-flex justify-content-between align-items-center ">
        <div class="logo-brand col-6 col-md-6 col-lg-2 text-center my-4" data-aos="fade-up" data-aos-duration="1000">
            <img src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/brand/brand-4.svg" alt="" srcset="">
        </div>

        <div class="logo-brand col-6 col-md-6 col-lg-2 text-center my-4" data-aos="fade-up" data-aos-duration="1000"
             data-aos-delay="200">
            <img src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/brand/brand-6.svg" alt="" srcset="">
        </div>

        <div class="logo-brand col-6 col-md-6 col-lg-2 text-center my-4" data-aos="fade-up" data-aos-duration="1000"
             data-aos-delay="400">
            <img src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/brand/brand-1.svg" alt="" srcset="">
        </div>

        <div class="logo-brand col-6 col-md-6 col-lg-2 text-center my-4" data-aos="fade-up" data-aos-duration="1000"
             data-aos-delay="600">
            <img src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/brand/brand-3.svg" alt="" srcset="">
        </div>
        <div class="logo-brand col-6 col-md-6 col-lg-2 text-center my-4" data-aos="fade-up" data-aos-duration="1000"
             data-aos-delay="800">
            <img src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/brand/brand-2.svg" alt="" srcset="">
        </div>

        <div class="logo-brand col-6 col-md-6 col-lg-2 text-center my-4" data-aos="fade-up" data-aos-duration="1000"
             data-aos-delay="1000">
            <img src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/brand/brand-5.svg" alt="" srcset="">
        </div>
    </div>

</div>


<!--footer-->
<footer th:replace="~{fragments :: footer}"></footer>

<div th:replace="~{fragments :: scroll}"></div>

<script th:replace="~{fragments :: script}"></script>

<script>

    $(document).ready(function () {

        $('.container-product').slick({
            slidesToShow: 4,
            slidesToScroll: 2,
            autoplay: true,
            autoplaySpeed: 1000,
            dots: true,
            arrows: true,
            infinite: true,
            responsive: [
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        infinite: true,
                        dots: true,
                        arrows: false,
                    }
                }
            ]
        });

    });
</script>

</body>

</html>