<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<link rel="stylesheet" th:href="@{/css/login-register.css}">
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container my-5">
    <div class="row ">
        <div class="container-login col-md-6 p-lg-5 my-3 ">
            <div class="login">
                <h2 class="text-center" style="font-weight: 900">Login</h2>
                <form>
                    <ul>
                        <li>
                            <input class="form-control" placeholder="Username" type="text" name="username"
                                   id="username">
                        </li>
                        <li>
                            <input class="form-control" placeholder="Password" type="password" name="password"
                                   id="password">
                        </li>
                        <li>
                            <button type="submit" class="" id="login">
                                Login
                            </button>
                        </li>
                    </ul>

                </form>

            </div>
        </div>
        <div class="container-register col-md-6 p-lg-5 my-3">
            <div class="login">
                <h2 class="text-center" style="font-weight: 900">Register</h2>
                <form id="f">
                    <ul class="">
                        <li>
                            <input class="form-control" placeholder="Full name" type="text" name="fullname"
                                   id="fullname">
                        </li>
                        <li>
                            <input class="form-control" placeholder="Password" type="password" name="password"
                                   id="password-register">
                        </li>
                        <li>
                            <input class="form-control" placeholder="Repeat password" type="password" name="password"
                                   id="repeat-password-register">
                        </li>

                        <li id="input-email">
                            <input class="form-control" placeholder="Email" type="email" name="email" id="email">
                        </li>

                        <li id="input-phone">
                            <input class="form-control" placeholder="Your phone" type="text" name="phone" id="phone">
                        </li>

                        <li class="birthdate-sex">
                            <input class="form-control" placeholder="Birth date" type="date" name="phone"
                                   id="birthdate">

                            <select name="sex" id="sex">
                                <option value="male">
                                    Male
                                </option>
                                <option value="female">
                                    Female
                                </option>
                            </select>
                        </li>


                        <li>
                            <button type="submit" class="" id="register">
                                Register
                            </button>
                        </li>
                    </ul>

                </form>

            </div>
        </div>
    </div>
</div>

<!--footer-->
<footer th:replace="~{fragments :: footer}"></footer>

<div th:replace="~{fragments :: scroll}"></div>

<div th:replace="~{fragments :: script}"></div>

</body>
</html>