<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>

<link rel="stylesheet" th:href="@{/css/account.css}">

<linK rel="stylesheet" th:href="@{/css/account-orders.css}">

<link rel="stylesheet" th:href="@{/css/image-uploader.min.css}">
<body>
<div th:replace="~{fragments :: loader}"></div>

<header th:replace="~{fragments :: header}"></header>


<div class="container my-5 py-5">

    <div class="row">

        <div class="left-page col-12 col-sm-12 col-lg-3">
            <div class="tool-bar">

                <h4 class="title">ACCOUNT</h4>

                <div class="main-tool-bar">
                    <a th:href="@{/account}">
                        <div>My profile</div>
                    </a>
                    <a th:href="@{/address}">
                        <div>My address</div>
                    </a>
                    <a th:href="@{/orders}">
                        <div class="active">My orders</div>
                    </a>
                    <a th:href="@{/change-password}">
                        <div>Change password</div>
                    </a>
                    <a th:href="@{/logout}">
                        <div>Logout</div>
                    </a>

                </div>

            </div>
        </div>


        <div class="right-page col-12 col-sm-12 col-lg-9">
            <!--            <form class="w-100">-->
            <h4 class="title">MY ORDERS</h4>

            <div class="alert alert-success" th:if="${success}" th:text="${success}"></div>
            <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
            <div class="table-responsive">

                <div th:if="${orders.size() == 0}" class="nothing-orders bg-warning">You haven't placed any orders yet
                </div>
                <table class="table" th:if="${orders.size() > 0}">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col" style="width: 130px">Order date</th>
                        <th scope="col" style="width: 130px">Delivery date</th>
                        <th scope="col">Total price</th>
                        <th scope="col">Discount voucher</th>
                        <th scope="col" style="width: 130px">Shipping fee</th>
                        <th scope="col">Delivery address</th>
                        <th scope="col">Status</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <th scope="row" th:text="${order.id}"></th>
                        <td th:text="${#dates.format(order.orderDate, 'dd-MM-yyyy')}"></td>
                        <td th:text="${#dates.format(order.deliveryDate, 'dd-MM-yyyy')}"></td>
                        <td th:text="${order.totalPrice} " class="price-product"></td>
                        <td th:text="${order.discountPrice} " class="price-product"></td>
                        <td th:text="${order.shippingFee}" class="price-product"></td>
                        <td th:text="${order.deliveryAddress}"></td>
                        <td th:text="${order.status}"></td>
                        <td>
                            <div class="action">
                                <a th:if="${order.accept == false}" th:href="@{/cancel-order(id = ${order.id})}">
                                    <button class="btn btn-warning ">Cancel
                                    </button>
                                </a>
                                <button class="btn btn-secondary " th:if="${order.accept == true}" disabled>
                                    Cancel
                                </button>
                                <a class="btnDetailOrder" th:href="@{/detail-order(id = ${order.id})}">
                                    <button class="btn btn-info">View</button>
                                </a>

                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>


            <!--            </form>-->
        </div>

    </div>

    <!--view order details-->
    <div class="modal fade" id="detailOrder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Order Detail</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Rate</th>
                        </tr>
                        </thead>
                        <tbody id="listOrderDetail">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--rate product-->
    <div class="modal fade" id="rateProduct" data-th-tabindex="9" tabindex="9" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-xl ">
            <div class="modal-content">
                <form th:action="@{/rate-product}" enctype="multipart/form-data" method="post" >
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="">Rate</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="idProduct" id="idProductRate">
                        <input type="hidden" name="idOrderDetail" id="idOrderDetail">


                        <div class="form-group d-flex align-items-center">
                            <label style="margin-right: 10px" class="col-form-label">Quality Product:</label>
                            <input type="hidden" name="starRate" id="star-need-rate">
                            <div class="star-rated">
                                <div class="stars stars-rate">
                                    <i class="fa-solid fa-star active-rate"></i>
                                    <i class="fa-solid fa-star active-rate"></i>
                                    <i class="fa-solid fa-star active-rate"></i>
                                    <i class="fa-solid fa-star active-rate"></i>
                                    <i class="fa-solid fa-star active-rate"></i>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="content-text" class="col-form-label">Content:</label>
                            <textarea name="contentRate" class="form-control " id="content-text" style="height: 200px"></textarea>
                        </div>

                        <div class="form-group">
                            <label  class="col-form-label">Images:</label>
                            <div class="input-images"></div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Rate</button>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<footer th:replace="~{fragments :: footer}"></footer>

<div th:replace="~{fragments :: scroll}"></div>

<div th:replace="~{fragments :: script}"></div>

<script th:src="@{/js/image-uploader.min.js}"></script>

<script th:src="@{/js/account.js}">


</script>


</body>
</html>