<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>

<link rel="stylesheet" th:href="@{/css/account.css}">
<body>
<div th:replace="~{fragments :: loader}"></div>

<header th:replace="~{fragments :: header}"></header>


<div class="container my-5 py-5">

    <div class="row">

        <div class="left-page col-12 col-sm-12 col-lg-4">
            <div class="tool-bar">

                <h4 class="title">ACCOUNT</h4>

                <div class="main-tool-bar">
                    <a th:href="@{/account}">
                        <div class="active">My profile</div>
                    </a>
                    <a th:href="@{/address}">
                        <div>My address</div>
                    </a>
                    <a th:href="@{/orders}">
                        <div>My orders</div>
                    </a>
                    <a th:href="@{/change-password}">
                        <div>Change password</div>
                    </a>
                    <a th:href="@{/logout}">
                        <div>Logout</div>
                    </a>

                </div>

            </div>
        </div>


        <div class="right-page col-12 col-sm-12 col-lg-8">
            <form th:action="@{/account}" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-12 col-sm-4 d-flex flex-column align-items-center    ">
                        <div class="avatar-frame">
                            <img id="avatar-preview" th:src=" ${imageAvatar} != null ? 'data:image/jpeg;base64,' + ${imageAvatar} : '#' " alt="avt">
                        </div>

                        <input id="img" name="avatarImage" class="input-file" type="file">
                    </div>
                    <div class="col-12 col-sm-8">
                        <h4 class="title">INFORMATION</h4>

                        <div class="alert alert-success" th:if="${success}" th:text="${success}"></div>
                        <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>

                        <label for="fullName">Full name</label>
                        <input class="form-control" id="fullName" name="fullName" type="text" placeholder="Full name"
                               th:value="${nameUser}" readonly="readonly" disabled="disabled">

                        <label for="firstName">First name</label>
                        <input class="form-control" id="firstName" name="firstName" type="text" placeholder="Full name"
                               th:value="${firstName}">

                        <label for="lastName">Last name</label>
                        <input class="form-control" id="lastName" name="lastName" type="text" placeholder="Full name"
                               th:value="${lastName}">

                        <label for="email">Email</label>
                        <input class="form-control" id="email" name="email" type="email" placeholder="Email"
                               readonly="readonly"
                               disabled="disabled" th:value="${emailUser}">

                        <label for="phone">Phone</label>
                        <input class="form-control" id="phone" name="phone" type="text" placeholder="Phone"
                               th:value="${phone}">


                        <input onclick="forwardPage()" class="submit" type="submit" value="SAVE CHANGE ">

                    </div>
                </div>
            </form>

        </div>

    </div>

</div>

<!-- Include the chatbot component -->
<div th:replace="~{fragments :: chatbot}"></div>

<footer th:replace="~{fragments :: footer}"></footer>

<div th:replace="~{fragments :: scroll}"></div>

<div th:replace="~{fragments :: script}"></div>

<script>

    function forwardPage() {
        setTimeout(() => {
            window.location.href = "/account";
        }, 500);
    }

    document.getElementById('img').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('avatar-preview').src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });

    // const inputFile = document.querySelector('.input-file');
    // const fileName = document.querySelector('.file-name');
    // const customFileUpload = document.querySelector('.custom-file-upload');
    //
    // customFileUpload.addEventListener('click', () => {
    //     inputFile.click();
    // });
    //
    // inputFile.addEventListener('change', (event) => {
    //     if (event.target.files.length > 0) {
    //         fileName.textContent = event.target.files[0].name;
    //     } else {
    //         fileName.textContent = 'Không có tệp nào được chọn';
    //     }
    // });

</script>

</body>
</html>