<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>

<link rel="stylesheet" th:href="@{/css/account.css}">
<body>
<div th:replace="~{fragments :: loader}"></div>

<header th:replace="~{fragments :: header}"></header>


<div class="container my-5 py-5">

    <div class="row">

        <div class="left-page col-12 col-sm-12 col-lg-4">
            <div class="tool-bar">

                <h4 class="title">ACCOUNT</h4>

                <div class="main-tool-bar">
                    <a th:href="@{/account}"><div >My profile</div></a>
                    <a th:href="@{/address}"><div >My address</div></a>
                    <a th:href="@{/orders}"><div >My orders</div></a>
                    <a th:href="@{/change-password}"><div class="active">Change password</div></a>
                    <a th:href="@{/logout}"><div >Logout</div></a>

                </div>

            </div>
        </div>


        <div class="right-page col-12 col-sm-12 col-lg-8">
            <form th:action="@{/do-change-password}" method="post">
                <h4 class="title">INFORMATION</h4>

                <div class="alert alert-warning" th:if="${notCorrect}" th:text="${notCorrect}"></div>
                <div class="alert alert-warning" th:if="${notSame}" th:text="${notSame}"></div>
                <div class="alert alert-warning" th:if="${notLength}" th:text="${notLength}"></div>
                <div class="alert alert-success" th:if="${success}" th:text="${success}"></div>
                <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>

                <input class="form-control" name="oldPassword" type="password" placeholder="Old password" required>

                <input class="form-control" name="password" type="password" placeholder="New password" required>

                <input class="form-control" name="repeatPassword" type="password" placeholder="Repeat new password" required>

                <input class="submit" type="submit" value="SAVE CHANGE">

            </form>
        </div>

    </div>

</div>

<!-- Include the chatbot component -->
<div th:replace="~{fragments :: chatbot}"></div>

<footer th:replace="~{fragments :: footer}"></footer>

<div th:replace="~{fragments :: scroll}"></div>

<div th:replace="~{fragments :: script}"></div>

</body>
</html>