<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<link rel="stylesheet" th:href="@{/css/checkout.css}">

<body>

<!--loader-->
<div th:replace="~{fragments :: loader}"></div>

<div th:replace="~{fragments :: toast}"></div>

<header th:replace="~{fragments :: header}"></header>


<div class="container py-5 my-5">

    <div class="row">

        <div class="left-page col-12 col-sm-12 col-lg-6 order-lg-1 order-sm-2 order-2">

            <form th:action="@{/process-checkout}" method="post" th:object="${orderInfo}">
                <h4 class="text-center">INFORMATION PAYMENT</h4>
                <div class="information-customer ">
                    <input class="form-control" name="full-name" type="text" placeholder="Full name"
                           th:value="${customer.getFirstName() + ' ' + customer.getLastName()}" required>

                    <div class="group-email-phone">
                        <div class="email">
                            <input class="form-control" name="email" type="email" placeholder="Email"
                                   th:value="${customer.getEmail() != null && !#strings.equals(customer.getEmail(), '') ? customer.getEmail() : null}">
                        </div>
                        <div class="phone">
                            <input class="form-control" name="phone" type="text" placeholder="Phone"
                                   th:value="${customer.getPhone() != null && !#strings.equals(customer.getPhone(), '') ? customer.getPhone() : null}"
                                   required>
                        </div>
                    </div>


                    <input th:field="*{deliveryAddress}" class="form-control" name="address" type="text"
                           placeholder="Address"
                           th:value="${customer.getAddressDetail() != null && !#strings.equals(customer.getAddressDetail(), '') ? customer.getAddressDetail() : null}"
                           required>

                    <div>
                        <input type="hidden" name="haveCodeCity" id="haveCodeCity"
                               th:value="${citySelect != null ? citySelect : ''}">
                        <input type="hidden" name="haveCodeDistrict" id="haveCodeDistrict"
                               th:value="${districtSelect != null ? districtSelect : ''}">
                        <input type="hidden" name="haveCodeWard" id="haveCodeWard"
                               th:value="${communeSelect != null ? communeSelect : ''}">

                        <select class="form-control form-select form-select-sm mb-3" id="city"
                                aria-label=".form-select-sm" onchange="getDistricts(event)" name="city">
                            <option>Select province or city</option>
                        </select>

                        <select class=" form-control form-select form-select-sm mb-3" id="district"
                                aria-label=".form-select-sm" onchange="getWards(event)" name="district">
                            <option value="">Select district</option>
                        </select>

                        <select class="form-control form-select form-select-sm" id="ward" aria-label=".form-select-sm"
                                name="commune">
                            <option value="" selected>Select ward and commune</option>
                        </select>
                    </div>

                    <!-- Sửa trường totalPrice để đảm bảo luôn có giá trị và được cập nhật khi áp dụng voucher -->
                    <input th:field="*{totalPrice}" id="hiddenTotalPrice" type="hidden" th:value="${cart.totalPrice}" required>
                    <!-- Thêm trường ẩn để lưu giá trị tổng ban đầu -->
                    <input type="hidden" id="originalTotalPrice" th:value="${cart.totalPrice}">

                    <h4 style="margin-top: 40px">PAYMENT METHODS</h4>

                    <div class="pay-methods">
                        <div>
                            <input th:field="*{paymentMethod}" class="pay-method" id="pay-home" name="type-pay"
                                   type="radio" th:value="${paymentMethod[0]}" checked onclick="showInfoBank()"
                                   required>
                            <label for="pay-home">Pay at home</label>
                        </div>
                        <div>
                            <input th:field="*{paymentMethod}" class="pay-method" id="pay-vnp" name="type-pay"
                                   type="radio" th:value="${paymentMethod[1]}" onclick="showInfoBank()" required>
                            <label for="pay-bank">VN Pay</label>
                        </div>
                        <div>
                            <input th:field="*{paymentMethod}" class="pay-method" id="pay-bank" name="type-pay"
                                   type="radio" th:value="${paymentMethod[2]}" onclick="showInfoBank()" required>
                            <label for="pay-bank">Bank transfer</label>
                        </div>
                    </div>

                    <div class="my-bank">
                        <p style="font-size: 18px; font-weight: 600">Account owner: NGUYEN QUOC VIET
                        </p>
                        <p>
                            You can scan the QR code or Transfer money according to the STK below
                        </p>

                        <div class="qr-bank">

                            <img th:src="@{/images/bank/z5402816281164_8971b2fd67f0bebcc73bc5f15d9784b0.jpg}"
                                 style="width: 280px" alt="">
                        </div>

                        <div class="w-75 more-about-bank">

                            <p>
                                Please fill in the content of the transfer according to the syntax: <b
                                    style="font-size: 18px">"Deposit ID - Full
                                name"</b>
                            </p>

                            <p>
                                After the transaction, take a screenshot of the payment bill and contact customer
                                service
                                for successful confirmation. CATCOSY will contact you back during business hours, no
                                more
                                than 12 hours. Please keep an eye on your phone to confirm your order.
                            </p>

                            <p>
                                Sincerely thank you for trusting and ordering at CATCOSY
                            </p>
                        </div>
                    </div>

                </div>


                <div class="btn-choose">

                    <div class="back-to-cart">

                        <a th:href="@{/cart}">
                            <i class="fa-solid fa-chevron-left"></i>
                            Back to cart
                        </a>
                    </div>

                    <input type="hidden" name="codeVoucherCompletePayment" id="codeVoucherCompletePayment">

                    <button class="btn-payment" type="submit" style="border: none">
                        <div class="complete-payment">
                            COMPLETE PAYMENT
                        </div>
                    </button>

                </div>

            </form>

        </div>

        <div class="right-page col-12 col-sm-12 col-lg-6 order-lg-2 order-sm-1 order-1">

            <div class="container">
                <div class="row main-right">
                    <div class="products" th:each="product : ${products}">

                        <div class="img">
                            <a>
                                <img th:src="${product.product.images[0].s3Url}"
                                    alt=""
                                >
                            </a>
                        </div>
                        <div class="inf-product">
                            <p>
                                <a th:href="@{/product-detail/{id} (id = ${product.product.id})}"
                                   th:text="${product.product.name}"></a>
                            </p>

                            <p style="color: #858E96" th:text="${product.size.size + ' x' + product.quantity}">

                            </p>

                        </div>
                    </div>


                    <div class="voucher">
                        <form class="w-100" th:action="@{/checkout/check-voucher}" method="post">
                            <div class=" d-flex justify-content-between align-items-center">
                                <div class="w-75 d-flex justify-content-between align-items-center">
                                    <input class="form-control" name="codeVoucher" id="codeVoucherInput"
                                           placeholder="Voucher">
                                    <label for="codeVoucherInput"></label>
                                    <input type="hidden" name="idCart" id="idCartInput" th:value="${cart.id}">
                                </div>

                                <button id="btnUserVoucher" type="submit" class="enter-voucher">
                                    Use
                                </button>
                            </div>
                        </form>
                    </div>

                    <hr>

                    <div class="prices">
                        <div class="row-price">
                            <p>Provisional</p>
                            <p class="price price-product" id="provisional" th:text="${cart.totalPrice}"></p>
                        </div>
                        <div class="row-price">
                            <p>Discount</p>
                            <p class="price price-product " id="price-discount">0</p>
                        </div>
                        <div class="row-price">
                            <p>Fee ship</p>
                            <p class="fee-ship price-product">0</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row-price">
                        <p class="title-total-price">Total price</p>
                        <p class="price-product total-price" id="total-price" th:text="${cart.totalPrice}">

                        </p>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Include the chatbot component -->
<div th:replace="~{fragments :: chatbot}"></div>

<footer th:replace="~{fragments :: footer}"></footer>

<div th:replace="~{fragments :: scroll}"></div>

<div th:replace="~{fragments :: script}"></div>

<div th:replace="~{fragments :: scroll}"></div>

<script th:src="@{/js/checkout.js}"></script>

<script>
    function formatCurrency(amount, total) {
        var parts = amount.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ".");

        if (parts.length > 1 && parseInt(parts[1], 10) === 0) {
            parts.pop();
        }

        if (!total) return "- " + parts.join(".") + " ₫";
        else return parts.join(".") + " ₫";
    }


    function parseCurrency(currencyString) {
        var cleanedString = currencyString.replace(/[^\d]/g, '');
        return parseFloat(cleanedString);
    }

    $('#btnUserVoucher').on('click', function (e) {
        e.preventDefault();
        var codeVoucher = $('#codeVoucherInput').val();
        var idCart = $('#idCartInput').val();
        var discount = $('#price-discount');
        var provisional = $('#provisional');
        var totalPrice = $('#total-price');
        var codeVoucherCompletePayment = $('#codeVoucherCompletePayment');


        $.get("/checkout/check-voucher?codeVoucher=" + codeVoucher + "&idCart=" + idCart, function (priceSale, status) {

            console.log(priceSale)
            if (parseFloat(priceSale) > 0) {
                discount.text(formatCurrency(priceSale, false))
                var total = parseCurrency(provisional.text()) - parseCurrency(discount.text());
                totalPrice.text(formatCurrency(total, true));
                codeVoucherCompletePayment.val(codeVoucher);
                
                // Cập nhật giá trị trường ẩn totalPrice để được gửi với form
                $('#hiddenTotalPrice').val(total);
                console.log("Updated hidden total price to: " + total);
            }

        });

    });
</script>

</body>
</html>