
.nav{
    background-color: #F7F7F7;
}

.detail-category ul {
    list-style-type: none;
    padding: 0;
}

.detail-category ul li {
    margin-right: 20px;
}

.detail-category ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.left-page-product {
    width: 20%;
}

.filter-by ul {
    list-style-type: none;
}

.filter-by ul li {


}

.left-page-product, .right-page-product {
    /*padding: 0 15px;*/
}

.right-page-product {
    width: 80%;
}


/*.pagination li:hover{*/
/*    background-color: black;*/
/*    color: white;*/
/*}*/

.pagination {
    /*--bs-pagination-color: var(--bs-link-color);*/
    /*--bs-pagination-bg: var(--bs-body-bg);*/
    /*--bs-pagination-hover-color: var(--ybs-link-hover-color);*/
    --bs-pagination-hover-bg: #000000;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #000000;
    --bs-pagination-active-border-color: #dee2e6;

    --bs-pagination-focus-color: unset;
    --bs-pagination-focus-bg: unset;
    --bs-pagination-focus-box-shadow: unset;
}


@media only screen and (max-width: 992px) {
    .row-products {
        width: 100%;
    }

    .right-page-product {
        width: 100%;
    }

    .current-row-products {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

}


@media only screen and (max-width: 769px) {
    .page-product {
        /*width: 100%;*/
        margin-left: unset;
        margin-right: unset;
        max-width: unset;
    }
}

@media only screen and (max-width: 650px) {
    .card {
        width: 217px;
    }

    .right-page-product {
        margin-left: 20px;
        padding-right: unset;
        width: 100%;
    }

    .pagination {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 425px){
    .card{
        width: 194px;
        height: 400px;
    }

    .img__product{
        height: 300px;
    }

    .page-product{
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 375px){
    .card{
        width: 169px;
        height: 350px;
    }

    .img__product{
        height: 300px;
    }
}

@media only screen and (max-width: 320px){
    .card{
        width: 160px;
        height: 350px;
    }

    .img__product{
        height: 270px;
    }

    .detail-category ul li:last-child{
        margin-right: 0;
    }

    .row-products{
        width: unset;
    }

    .right-page-product{
        margin-left: 0;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pagination-parent ul{
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
    margin: 0;
    }
}
